<template>
  <div>
    <b-breadcrumb>
      <li class="breadcrumb-item">
        <router-link to="/">
          <i class="fa fa-home"></i> Home
        </router-link>
      </li>
      <li class="breadcrumb-item">
        <router-link to="/teachers">Teachers</router-link>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Edit Teacher</li>
    </b-breadcrumb>

    <b-container>
      <b-card class="mt-3" header="Add Edit Teacher">
        <b-form @submit.prevent="onSubmit">
          <b-row>
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-user-circle pb-2"></i> | <strong>Name :</strong>
              <b-form-input
                name="name"
                type="text"
                class="form-control"
                id="name"
                v-model="user.name"
                :class="{'input': true, 'is-danger': errors.has('name') }"
                v-validate="'required|min:20'"
                placeholder="Please Enter Your Name"
              ></b-form-input>
              <span v-show="errors.has('name')" class="is-danger">{{ errors.first('name') }}</span>
            </b-col>
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-vcard pb-2"></i> | <strong>Username :</strong>
              <b-form-input
                name="username"
                type="text"
                class="form-control"
                id="username"
                v-model="user.username"
                :class="{'input': true, 'is-danger': errors.has('username') }"
                v-validate="'required|min:5'"
                placeholder="Please Enter Your Username"
              ></b-form-input>
              <span v-show="errors.has('username')" class="is-danger">{{ errors.first('username') }}</span>
            </b-col>
          </b-row>

          <b-row class="pt-2">
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-at pb-2"></i> | <strong>Email :</strong>
              <b-form-input
                name="email"
                type="text"
                class="form-control"
                id="email"
                v-model="user.email"
                placeholder="Please Enter Your Email"
              ></b-form-input>
              <span v-show="errors.has('email')" class="is-danger">{{ errors.first('email') }}</span>
            </b-col>
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-map-pin pb-2"></i> | <strong>Address :</strong>
              <b-form-input
                v-validate="'required'"
                name="address"
                type="text"
                class="form-control"
                id="address"
                v-model="user.address"
                placeholder="Enter Your Address"
              ></b-form-input>
            </b-col>
          </b-row>

          <b-row class="pt-2">
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-birthday-cake pb-2"></i> | <strong>Birthdate :</strong>
              <b-form-input
                name="birthdate"
                type="date"
                class="form-control"
                id="birthdate"
                v-model="user.birthdate"
                placeholder="Enter Your Birthdate"
              ></b-form-input>
            </b-col>
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-graduation-cap pb-2"></i> | <strong>Qualification :</strong>
              <b-form-input
                v-validate="'required'"
                name="qualification"
                type="text"
                class="form-control"
                id="qualifications"
                v-model="user.qualifications"
                placeholder="Enter Your Qualification"
              ></b-form-input>
            </b-col>
          </b-row>

          <b-row class="pt-2">
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-tasks pb-2"></i> | <strong>Speciality :</strong>
              <b-form-input
                v-validate="'required'"
                name="speciality"
                type="text"
                class="form-control"
                id="speciality"
                v-model="user.speciality"
                placeholder="Enter Your Speciality"
              ></b-form-input>
            </b-col>
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-mobile pb-2"></i> | <strong>Phone :</strong>
              <b-form-input
                name="phone"
                type="phone"
                class="form-control"
                id="phone"
                v-model="user.phone"
                :class="{'input': true, 'is-danger': errors.has('phone') }"
                v-validate="'required'"
                placeholder="Enter Your Phone"
              ></b-form-input>
              <span v-show="errors.has('phone')" class="is-danger">{{ errors.first('phone') }}</span>
            </b-col>
          </b-row>

          <b-row class="pt-2">
            <b-col v-if="ShowInAdd" md="6" sm="12">
              <i class="main-icon fa fa-credit-card pb-2"></i> | <strong>Password :</strong>
              <b-form-input
                name="password"
                type="password"
                class="form-control"
                id="password"
                v-model="user.password"
                :class="{'input': true, 'is-danger': errors.has('password') }"
                v-validate="'required|min:6'"
                placeholder="Enter Your ID Card"
              ></b-form-input>
              <span v-show="errors.has('password')" class="is-danger">{{ errors.first('password') }}</span>
            </b-col>

            <b-col v-if="ShowInAdd"  md="6" sm="12">
              <i class="main-icon fa fa-credit-card pb-2"></i> | <strong>Confirm Password:</strong>
              <b-form-input
                name="password_confirmation"
                type="password"
                class="form-control"
                id="password_confirmation"
                v-model="user.password_confirmation"
                :class="{'input': true, 'is-danger': errors.has('password_confirmation') }"
                v-validate="'required|min:6'"
                placeholder="Enter Your confirm_password"
              ></b-form-input>
              <span
                v-show="errors.has('password_confirmation')"
                class="is-danger"
              >{{ errors.first('password_confirmation') }}</span>
            </b-col>
          </b-row>

          <b-row class="pt-2">
            <b-col v-if="ShowInAdd" md="6" sm="12">
              <i class="main-icon fa fa-credit-card pb-2"></i> | <strong>ID Card :</strong>
              <b-form-input
                name="identity_card"
                type="number"
                class="form-control"
                id="identity_card"
                v-model="user.identity_card"
                :class="{'input': true, 'is-danger': errors.has('identity_card') }"
                v-validate="'required'"
                placeholder="Enter Your ID Card"
              ></b-form-input>
              <span
                v-show="errors.has('identity_card')"
                class="is-danger"
              >{{ errors.first('identity_card') }}</span>
            </b-col>

            <b-col md="6" sm="12">
              <i class="main-icon fa fa-image pb-2"></i> | <strong>Picture : </strong>
              <b-form-file
                name="picture"
                type="file"
                ref="picture1"
                accept="jpg"
                class="form-control"
                id="picture"
                @change="onFileSelected()"
                :class="{'input': true, 'is-danger': errors.has('picture') }"
              ></b-form-file>
              <span v-show="errors.has('picture')" class="is-danger">{{ errors.first('picture') }}</span>
            </b-col>
          </b-row>

          <br>
          <b-button type="submit" variant="primary" @click="confirm = true">Save</b-button>
          <router-link class="btn btn-secondary ml-2" to="/teachers">
            <i class="back-icon fa fa-reply-all"></i> | Back To List
          </router-link>
        </b-form>
      </b-card>
    </b-container>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name:"TeacherAddEdit",
  data() {
    return {
      user: {
        name: "",
        username: "",
        email: "",
        address: "",
        birthdate: "",
        qualification: "",
        speciality: "",
        phone: "",
        identity_card: "",
        password: "",
        password_confirmation: "",
        picture: null
      },

      old_teacher: {},
      ShowInAdd:false,
      confirm: false
    };
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      teacherDetails: state => state.teachers.teacherDetails
      })
  },

  methods: {
    ...mapActions(["addTeacher","editTeacher","getTeacherDetails"]),

    onFileSelected() {
      this.user.picture = this.$refs.picture1.$refs.input.files[0];
    },

    onSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          let user = new FormData();

          if (_.endsWith(this.$route.path, "add")) {
            user.append("name", this.user.name);
            user.append("username", this.user.username);
            user.append("email", this.user.email);
            user.append("address", this.user.address);
            user.append("birthdate", this.user.birthdate);
            user.append("qualifications", this.user.qualifications);
            user.append("speciality", this.user.speciality);
            user.append("phone", this.user.phone);
            user.append("identity_card", this.user.identity_card);
            user.append("password", this.user.password);
            user.append("password_confirmation", this.user.password_confirmation);

            user.append("avatar", this.user.picture);

            let info = {
              user,
              token: this.loginUser.token
            };
            this.addTeacher(info);
          } else {

            this.old_teacher.user.name == this.user.name ? "" : user.append("name", this.user.name);
            this.old_teacher.user.username == this.user.username ? "" : user.append("username", this.user.username);
            this.old_teacher.user.email == this.user.email ? "" : user.append("email", this.user.email);
            this.old_teacher.user.address == this.user.address ? "" : user.append("address", this.user.address);
            this.old_teacher.user.birthdate == this.user.birthdate ? "" : user.append("birthdate", this.user.birthdate);
            this.old_teacher.qualifications == this.user.qualifications ? "" : user.append("qualifications", this.user.qualifications);
            this.old_teacher.speciality == this.user.speciality ? "" : user.append("speciality", this.user.speciality);
            this.old_teacher.phone == this.user.phone ? "" : user.append("phone", this.user.phone);

            this.old_teacher.user.avatar == this.user.picture ? "" : user.append("avatar", this.selectedFile, this.user.selectedFile.name);

            let info = {
              user,
              id: this.teacherDetails.id,
              token: this.loginUser.token
            };            
            this.editTeacher(info);
          }
        }
      });
    },

    showUser(id) {
      let teacher = {
        id,
        token: this.loginUser.token
      };
      this.getTeacherDetails(teacher);
    }
  },

  watch: {
    $route() {
      this.showUser(this.$route.params.id);
    },

    teacherDetails() {
      this.user.name = this.teacherDetails.user.name;
      this.user.email = this.teacherDetails.user.email;
      this.user.username = this.teacherDetails.user.username;
      this.user.address = this.teacherDetails.user.address;
      this.user.birthdate = this.teacherDetails.user.birthdate;

      this.user.phone = this.teacherDetails.phone;
      this.user.speciality = this.teacherDetails.speciality;
      this.user.qualifications = this.teacherDetails.qualifications;
      this.user.picture = this.teacherDetails.user.avatar;

      this.old_teacher = this.teacherDetails;
    }
  },
  
  created() {
    if (_.endsWith(this.$route.path, "edit")) {
      this.showUser(this.$route.params.id);
    } else {
      this.ShowInAdd = true
    };
  }
};
</script>

<style scoped>
</style>
