<template>
  <div>
    <b-breadcrumb>
      <li class="breadcrumb-item">
        <router-link to="/">
          <i class="fa fa-home"></i> Home
        </router-link>
      </li>
      <li class="breadcrumb-item">
        <router-link to="/teachers">Teachers</router-link>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Show</li>
    </b-breadcrumb>

    <b-container>
      <b-card-group deck>
        <b-card header="Teacher Details">
          <b-card-text>
            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-user-circle"></i>
                | <strong>Name :</strong> {{ teacherDetails.user.name }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-vcard"></i>
                | <strong>Username :</strong> {{ teacherDetails.user.username }}
                <hr>
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-birthday-cake"></i>
                | <strong>Birthdate :</strong> {{ teacherDetails.user.birthdate }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-map-pin"></i>
                | <strong>Address :</strong> {{ teacherDetails.user.address }}
                <hr>
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-graduation-cap"></i>
                | <strong>Qualification :</strong> {{ teacherDetails.qualifications }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-tasks"></i>
                | <strong>Speciality :</strong> {{ teacherDetails.speciality }}
                <hr>
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-mobile"></i>
                | <strong>Phone :</strong> {{ teacherDetails.phone }}
                <hr>
              </b-col>
            </b-row>
          </b-card-text>

          <router-link to="/teachers" class="btn btn-secondary">
            <i class="back-icon fa fa-reply-all"></i> | Back To List
          </router-link>
        </b-card>
      </b-card-group>
    </b-container>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "TeacherShow",
  data() {
    return {};
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      teacherDetails: state => state.teachers.teacherDetails
    })
  },

  watch: {
    $route() {
      this.show(this.$route.params.id);
    }
  },

  methods: {
    ...mapActions(["getTeacherDetails"]),

    show(id) {
      let teacher = {
        id,
        token: this.loginUser.token
      };
      this.getTeacherDetails(teacher);
    }
  },

  created() {
    this.show(this.$route.params.id);
  }
};
</script>

<style scoped>
.icon-color {
  color: #ffffff;
}
</style>
