 <template>
  <div class="app">
    <!-- header -->
    <AppHeader fixed>
      <SidebarToggler class="d-lg-none" display="md" mobile />
      <b-link class="navbar-brand" to="#">
        <h2>ELM</h2>
      </b-link>
      <SidebarToggler class="d-md-down-none" display="lg" :defaultOpen="true" />

      <!-- right side header nav -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item class="d-md-down-none">
          <i class="icon-bell"></i>
          <b-badge pill variant="danger">5</b-badge>
        </b-nav-item>
       
        <DefaultHeaderDropdownAccnt />
      </b-navbar-nav>
    </AppHeader>

    <!-- body -->
    <div class="app-body">
      <!-- sidebar -->
      <AppSidebar fixed>
        <SidebarHeader />
        <SidebarForm />

      <!--  <SidebarNav :navItems="nav"></SidebarNav> -->
       <SidebarNav/> 
        <SidebarMinimizer/>
      </AppSidebar>

      <main class="main">
          <router-view></router-view>
      </main>
    </div>

    <TheFooter>
      <!--footer-->
      <div>
        <a href="#">BOOTFI COMPANY</a>
        <span class="ml-1">&copy; 2019</span>
      </div>
      <div class="ml-auto">
        <span class="mr-1">Designed by</span>
        <a href="#">Mohammed Ali70</a>
      </div>
    </TheFooter>

  </div>
</template>

<script>
import nav from "@/_nav";
import SidebarNav from './SidebarNav'
import {
  Header as AppHeader,
  SidebarToggler,
  Sidebar as AppSidebar,
  SidebarFooter,
  SidebarForm,
  SidebarHeader,
  SidebarMinimizer,
  //SidebarNav,
  Aside as AppAside,
  AsideToggler,
  Footer as TheFooter,
  Breadcrumb
} from "@coreui/vue";
import DefaultAside from "./DefaultAside";
import DefaultHeaderDropdownAccnt from "./DefaultHeaderDropdownAccnt";

export default {
  name: "DefaultContainer",
  components: {
    AsideToggler,
    AppHeader,
    AppSidebar,
    AppAside,
    TheFooter,
    Breadcrumb,
    DefaultAside,
    DefaultHeaderDropdownAccnt,
    SidebarForm,
    SidebarFooter,
    SidebarToggler,
    SidebarHeader,
    SidebarNav,
    SidebarMinimizer
  },
  data() {
    return {
    };
  },
    beforeRouteEnter (to, from, next) {
        if (JSON.parse(localStorage.getItem("loginUser"))) {
        next()
        } else {
        next("/Login")
        }
    }
};
</script>
