<template>
  <AppHeaderDropdown right no-caret>
    <template slot="header">
      <router-link to="/login" class="my-auto mx-4" v-if="loginUser == null">Login</router-link>
      <p class="my-auto mx-4" v-else>{{ loginUser.username }}</p>
    </template>
    <template v-show="loginUser == true" slot="dropdown">
      <b-dropdown-header tag="div" class="text-center">
        <strong>Account</strong>
      </b-dropdown-header>
      <b-dropdown-item>
        <i class="fa fa-tasks" /> Tasks
        <b-badge variant="danger"> 14 </b-badge>
      </b-dropdown-item>
      <b-dropdown-item>
        <i class="fa fa-comments" /> Comments
        <b-badge variant="warning"> 10 </b-badge>
      </b-dropdown-item>
      <b-dropdown-header tag="div" class="text-center">
        <strong>Settings</strong>
      </b-dropdown-header>
      <b-dropdown-item>
        <i class="fa fa-user" /> Profile
      </b-dropdown-item>
      <b-dropdown-item>
        <i class="fa fa-wrench" /> Settings
      </b-dropdown-item>
      <b-dropdown-divider />
      <b-dropdown-item>
        <i class="fa fa-shield" /> Lock Account
      </b-dropdown-item>
      <span class="dropdown-item pointer">
        <i class="fa fa-lock" @click="logout" /> Logout 
      </span>
    </template>
  </AppHeaderDropdown>
</template>

<script>
import { HeaderDropdown as AppHeaderDropdown } from "@coreui/vue";

export default {
  name: "DefaultHeaderDropdownAccnt",
  components: {
    AppHeaderDropdown
  },
  data: () => {
    return { 
      loggedin: false
      };
  },

  computed: {
    loginUser() {
      return this.$store.state.login.loginUser;
    }
  },

  methods: {
    logout() {
      this.$store.dispatch('logout', this.loginUser.token)
    },

    /*ifNotLoggedin() {
      if (this.loginUser) {
        return this.loggedin = true
      }
    }*/
  }
  
};
</script>
<style>
.pointer {
  cursor: pointer
}
</style>
