<template>
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="nav-icon icon-speedometer"></i> Dashboard
          </a>
        </li>

        <li class="nav-item nav-dropdown" :class="{open:isCompanyOpen}">
          <a @click="isCompanyOpen = !isCompanyOpen" class="nav-link nav-dropdown-toggle">
            <i class="nav-icon icon-people"></i> Users
          </a>
          <ul class="nav-dropdown-items">
            <router-link to="/admins" class="nav-item" tag="li">
              <a class="nav-link">
                <i class="nav-icon icon-people"></i> Admins
              </a>
            </router-link>
            <router-link to="/teachers" class="nav-item" tag="li">
              <a class="nav-link">
                <i class="nav-icon icon-people"></i> Teachers
              </a>
            </router-link>
            <router-link to="/guardians" class="nav-item" tag="li">
              <a class="nav-link">
                <i class="nav-icon icon-people"></i> Guardians
              </a>
            </router-link>
            <router-link to="/students" class="nav-item" tag="li">
              <a class="nav-link">
                <i class="nav-icon icon-people"></i> Students
              </a>
            </router-link>
          </ul>
        </li>

        <li class="nav-item nav-dropdown" :class="{open:isMasterOpen}">
          <a @click="isMasterOpen = !isMasterOpen" class="nav-link nav-dropdown-toggle">
            <i class="nav-icon icon-menu"></i> General Settings
          </a>
          <ul class="nav-dropdown-items">
            <router-link to="/years" class="nav-item" tag="li">
              <a class="nav-link">
                <i class="nav-icon icon-grid"></i> Years
              </a>
            </router-link>
            <router-link to="/semesters" class="nav-item" tag="li">
              <a class="nav-link">
                <i class="nav-icon icon-directions"></i> Semesters
              </a>
            </router-link>
            <router-link to="/grades" class="nav-item" tag="li">
              <a class="nav-link">
                <i class="nav-icon icon-layers"></i> Grades
              </a>
            </router-link>
            <router-link to="/sections" class="nav-item" tag="li">
              <a class="nav-link">
                <i class="nav-icon icon-map"></i> Sections
              </a>
            </router-link>
            <router-link to="/gradeTemplates" class="nav-item" tag="li">
              <a class="nav-link">
                <i class="nav-icon icon-vector"></i> Grade Templates
              </a>
            </router-link>
            <router-link to="/courseTemplates" class="nav-item" tag="li">
              <a class="nav-link">
                <i class="nav-icon icon-notebook"></i> Course Templates
              </a>
            </router-link>
            <router-link to="/courses" class="nav-item" tag="li">
              <a class="nav-link">
                <i class="nav-icon fa fa-book"></i> Courses
              </a>
            </router-link>
            <router-link to="/schedules" class="nav-item" tag="li">
              <a class="nav-link">
                <i class="nav-icon icon-film"></i> Schedules
              </a>
            </router-link>
          </ul>
        </li>
      </ul>
    </nav>
    <SidebarMinimizer />
  </div>
</template>

<script>
import {
  SidebarMinimizer
} from "@coreui/vue";

export default {
  components: {
    SidebarMinimizer
  },
  data() {
    return {
      isCompanyOpen: false,
      isMasterOpen: false,
      isServicesOpen: false
    };
  }
};
</script>
<style scoped>
li.nav-item.nav-dropdown {
    margin-left: -5px;
}
.sidebar .nav-dropdown-items .nav-item {
    margin-left: 10px;
}
</style>