
<template>
  <div>
    <b-breadcrumb>
      <li class="breadcrumb-item">
        <router-link to="/">
          <i class="fa fa-home"></i> Home
        </router-link>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Course Templates</li>
    </b-breadcrumb>

    <b-container>
      <b-row>
        <b-col class="gray-bg mb-2" sm="12">
          <b-col class="my-3">
            <span>
              <i class="fas fa-filter"></i>
              Filters
            </span>
            <small class="float-right table-filters">
              <b-button
                class="mx-1"
                variant="secondary"
                :disabled="isResetted"
                @click="resetFilters"
              >Reset Filters</b-button>
              <b-button
              class="mx-1"
              variant="danger"
              :disabled="selectedRows.length < 1"
              @click="deleteSelected"
            >Delete Selected</b-button>
            </small>
          </b-col>
        </b-col>
      </b-row>

      <b-row>
        <b-col md="6" class="my-1">
          <h6>Search</h6>
          <b-form-group>
            <b-input-group>
              <b-form-input
                v-model.lazy="filters.search_text"
                placeholder="Type to Search"
                @keyup="filters.page = 1,debounceSearch()"
              ></b-form-input>
              <b-input-group-append>
                <b-button
                  :disabled="filters.search_text==''"
                  @click="filters.search_text = ''"
                >Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col md="6" class="my-1">
          <h6>Per page</h6>
          <b-form-group>
            <b-form-select v-model="filters.per_page" @change="filters.page = 1,filterItems()">
              <option v-for="num in pageOptions" :key="num" :value="num">{{num}}</option>
            </b-form-select>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row class="mb-2">
        <b-col>
          <h3>All Course Templates</h3>
        </b-col>

        <b-col>
          <router-link :to="{name:'Add CourseTemplate'}" class="btn btn-secondary float-right">
            <i class="fa fa-plus"></i> | Add New Course Template
          </router-link>
        </b-col>
      </b-row>

      <b-table-simple hover caption-top responsive stacked="sm">
        <b-thead class="head">
          <b-tr>
            <b-th>
              <input
                type="checkbox"
                id="table_checkall"
                data-set="#table_view .checkboxes"
                @click="selectAll()"
                v-model="allSelected"
              />
            </b-th>
            <b-th>ID</b-th>
            <b-th>Name</b-th>
            <b-th>Actions</b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr
            v-for="courseTemplate in courseTemplatesTable.courses_template"
            :key="courseTemplate.id"
          >
            <td>
              <input
                type="checkbox"
                id="table_checkall"
                data-set="#table_view .checkboxes"
                :value="courseTemplate.id"
                v-model="selectedRows"
                @click="select"
              />
            </td>
            <td>{{ courseTemplate.id }}</td>
            <td>{{ courseTemplate.name }}</td>
            <td>
              <b-button variant="primary" class="mx-1">
                <router-link
                  :to="{ name:'Show CourseTemplate', params:{ id: courseTemplate.id }}"
                  class="mx-1"
                >
                  <i class="icon-color fa fa-eye fa-lg"></i>
                </router-link>
              </b-button>

              <b-button variant="secondary" class="mx-1">
                <router-link
                  :to="{ name:'Edit CourseTemplate', params:{ id: courseTemplate.id }}"
                  class="mx-1"
                >
                  <i class="icon-color fa fa-edit fa-lg"></i>
                </router-link>
              </b-button>

              <b-button variant="danger" class="mx-1" @click="removeCourseTemplate(courseTemplate.id)">
                <i class="icon-color fa fa-trash fa-lg mx-1"></i>
              </b-button>
            </td>
          </b-tr>
        </b-tbody>
      </b-table-simple>

      <b-row>
        <b-col md="12" class="my-1">
          <b-pagination
            size="md"
            v-model="currentPage"
            :total-rows="this.courseTemplatesTable.total"
            :per-page="filters.per_page"
            align="center"
            class="my-0"
            @input="filters.page = currentPage, filterItems()"
          ></b-pagination>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import _ from 'lodash';
import debounceSearchMixin from "../../mixins/debounceSearchMixin.js";
import resetFilters from "../../mixins/resetFilters.js";

export default {
  mixins: [debounceSearchMixin,resetFilters],
  name: "CourseTemplatesList",
  data() {
    return {
      user: {
        list: true
      },

      filters: {
        search_text: "",
        per_page: 10,
        page: 1,
        sort: "ASC",
        orderBy: "id",
      },

      currentPage: 1,
      pageOptions: [5, 10, 15],
      selected: "all",
      selectedRows: [],
      selected: [],
      allSelected: false
    };
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      courseTemplatesTable: state => state.courseTemplates.courseTemplates
    }),

    isResetted() {
      if (
        this.filters.search_text == "" &&
        this.filters.page == 1 &&
        this.filters.sort == "DESC" &&
        this.filters.type == "" &&
        this.filters.orderBy == "id"
      ) {
        return true;
      } else {
        return false;
      }
    }
  },

  methods: {
    ...mapActions(["getCourseTemplates","deleteCourseTemplate"]),

    removeCourseTemplate(id) {
      let info = {
        ids: [id],
        token: this.loginUser.token
      };
      this.deleteCourseTemplate(info);
    },

    selectAll() {
      this.selectedRows = [];
      if (!this.allSelected) {
        let courseTemplates = this.courseTemplatesTable.courseTemplates;
        for (const courseTemplate of courseTemplates) {
          this.selectedRows.push(courseTemplate.id);
        }
      }
    },

    select() {
      this.allSelected = false;
    },

    deleteSelected() {
      this.$swal({
        title: "delete selected Items ?",
        text: "",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          let info = {
            token: this.loginUser.token,
            ids: this.selectedRows
          };
          this.deleteCourseTemplate(info);
          this.select();
          this.selectedRows = [];
          setTimeout(() => {
            this.filterItems();
          }, 2000);
        }
      });
    },

    filterItems() {
      this.filters.token = this.loginUser.token;
      list: true;
      this.getCourseTemplates(this.filters);
    }
  },

  created() {
    this.filterItems();
  }
};
</script>

<style scoped>
.icon-color {
  color: #ffffff;
}

.head {
  background: #ffffff;
}

hr {
  width: 25% !important;
  margin-top: 0 !important;
  float: left !important;
}
</style>
