// Here you can add other styles
.input.is-danger, .input-group.is-danger>.input, .input-icons.is-danger>.input {
    border-color: #f22435 !important;
}
span.is-danger{
    color: #a00d19
}
.gray-bg {
    background-color: #f0f3f5;
  }
  .table-filters {
    margin-top: -6px;
  }
  .btn-secondary {
    color: #ffffff;
    background-color: #8b97a4;
    border-color: #818f9e;
}
.btn-secondary:hover {
    color: #ffffff;
    background-color: #6d7a86;
    border-color: #626e77;
}