<template>
  <div>
    <b-breadcrumb>
      <li class="breadcrumb-item">
        <router-link to="/">
          <i class="fa fa-home"></i> Home
        </router-link>
      </li>
      <li class="breadcrumb-item">
        <router-link to="/grades">Grades</router-link>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Edit Grade</li>
    </b-breadcrumb>

    <b-container>
      <b-card class="mt-3" header="Add Edit Grades">
        <b-form @submit.prevent="onSubmit">
          <b-row>
            <b-col md="12" sm="12">
              <i class="main-icon fa fa-birthday-cake pb-2"></i> | Semester :
              <b-form-select v-model="user.semester_id">
                <option
                  v-for="semester in semestersTable.semesters"
                  :key="semester.id"
                  :value="semester.id"
                >{{ semester.name }}</option>
              </b-form-select>
            </b-col>
          </b-row>

          <b-row class="mt-2">
            <b-form-checkbox
              type="checkbox"
              id="table_checkall"
              data-set="#table_view .checkboxes"
              @click="selectAll()"
              v-model="allSelected"
            >
              Select All
            </b-form-checkbox>
          </b-row>

          <b-row class="mt-4">
            <!--<b-col md="6" sm="12">
              <i class="main-icon fa fa-user-circle pb-2"></i> | Name :
              <b-form-select v-model="user.gradeTemplate_id">
                <option
                  v-for="gradeTemplate in gradeTemplatesTable.grades_template"
                  :key="gradeTemplate.id"
                  :value="gradeTemplate.id"
                >{{ gradeTemplate.name }}</option>
              </b-form-select>
            </b-col>-->

            <div class="col-sm-6 col-lg-3" v-for="gradeTemplate in gradeTemplatesTable.grades_template" :key="gradeTemplate.id" :value="gradeTemplate.id">
              <div class="card card2">
                <div class="card-body pb-0 pt-1">
                  <img :src="gradeTemplate.picture" class="ml-5 pb-2" width="100" height="50" />
                  <p class="text-center">{{ gradeTemplate.name }}</p>
                  <b-form-checkbox
                    type="checkbox"
                    id="table_checkall"
                    data-set="#table_view .checkboxes"
                    :value="gradeTemplate.id"
                    v-model="selectedRows"
                    @click="select"
                  >
                  </b-form-checkbox>
                </div>
              </div>
            </div>
          </b-row>
          <br>
          <b-button type="submit" variant="primary">Save</b-button>
          <router-link class="btn btn-secondary ml-2" to="/grades">
            <i class="back-icon fa fa-reply-all"></i> | Back To List
          </router-link>
        </b-form>
      </b-card>
    </b-container>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "GradeAddEdit",
  data() {
    return {
      user: {
        gradeTemplate_id: "",
        semester_id: "",

        list: true
      },

      old_grade: {},
      ShowInAdd: false,
      confirm: false,

      selected: "all",
      selectedRows: [],
      selected: [],
      allSelected: false
    };
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      gradeDetails: state => state.grades.gradeDetails,
      gradeTemplatesTable: state => state.gradeTemplates.gradeTemplates,
      semestersTable: state => state.semesters.semesters
    })
  },

  methods: {
    ...mapActions([
      "addGrade",
      "editGrade",
      "getGradeDetails",
      "getSemesters",
      "getGradeTemplates"
    ]),

    onSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          let user = new FormData();

          if (_.endsWith(this.$route.path, "add")) {
            user.append("grade_template_id", this.user.gradeTemplate_id);
            user.append("semester_id", this.user.semester_id);

            let info = {
              user,
              token: this.loginUser.token,

              ids: this.selectedRows
            };
            this.addGrade(info);

            this.select();
            this.selectedRows = [];
          } else {
            this.old_grade.name == this.user.gradeTemplate_id ? "" : user.append("grade_template_id", this.user.gradeTemplate_id);
            this.old_grade.semester.name == this.user.semester_id ? "" : user.append("semester_id", this.user.semester_id);

            let info = {
              user,
              id: this.gradeTemplateDetails.id,
              token: this.loginUser.token
            };
            this.editGrade(info);
          }
        }
      });
    },

    showUser(id) {
      let grade = {
        id,
        token: this.loginUser.token
      };
      this.getGradeDetails(grade);
    },

    displaySemesters() {
      let payload = {
        token: this.loginUser.token,
        list: this.user.list
      };
      this.getSemesters(payload);
    },

    displayGradeTemplates() {
      let payload = {
        token: this.loginUser.token,
        list: this.user.list
      };
      this.getGradeTemplates(payload);
    },

    selectAll() {
      this.selectedRows = [];
      if (!this.allSelected) {
        let gradeTemplates = this.gradeTemplatesTable.gradeTemplates;
        for (const gradeTemplate of gradeTemplates) {
          this.selectedRows.push(gradeTemplate.id);
        }
      }
    },

    select() {
      this.allSelected = false;
    },
  },

  watch: {
    $route() {
      this.showUser(this.$route.params.id);
    },

    gradeDetails() {
      this.user.gradeTemplate_id = this.gradeDetails.name;
      this.user.semester_id = this.gradeDetails.semester.name;

      this.old_grade = this.gradeDetails;
    }
  },

  created() {
    if (_.endsWith(this.$route.path, "edit")) {
      this.showUser(this.$route.params.id);
    } else {
      this.ShowInAdd = true;
    }

    this.displaySemesters();
    this.displayGradeTemplates();
  }
};
</script>

<style>
.card2:hover {
  background: #20bbea
}

.main-icon {
  color: #20bbea !important;
}

.back-icon {
  color: #ffffff !important;
}
</style>
