<template>
    <div>
        <b-breadcrumb>
            <li class="breadcrumb-item">
                <router-link to="/"><i class="fa fa-home"></i> Home</router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/grades">Grades</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Show</li>
        </b-breadcrumb>

        <b-container>
            <b-card-group deck>
                <b-card
                header="Grade Details">
                <b-card-text>
                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-user-circle"></i> | Name : {{ gradeDetails.name }}
                            <hr />
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-at"></i> | Number Of Students : {{ gradeDetails.num_student }}
                            <hr />
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-map-pin"></i> | Number Of Teacher : {{ gradeDetails.num_teacher }}
                            <hr />
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-mobile"></i> | Overall Percentage : {{ gradeDetails.overall_percentage }}
                            <hr />
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-code-fork"></i> | Semester : {{ gradeDetails.semester.name }}
                            <hr />
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-image"></i>
                            | Image : <b-img thumbnail fluid style="width:150px; height:150px" :src="gradeDetails.image" alt="No Image" title=""></b-img>
                            <hr>
                        </b-col>
                    </b-row>
                </b-card-text>
                <router-link to="/grades" class="btn btn-secondary">
                    <i class="back-icon fa fa-reply-all"></i> | Back To List
                </router-link>
                </b-card>
            </b-card-group>
        </b-container>
    </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
    name: "GradeShow",
    data() {
        return {
        }
    },

    computed: {
        ...mapState({
            loginUser: state => state.login.loginUser,
            gradeDetails: state => state.grades.gradeDetails
            })
    },

    watch: {
        $route(){            
            this.show(this.$route.params.id);
        }
    },

    methods: {
        ...mapActions(["getGradeDetails"]),

        show(id) {
            let grade = {
                id,
                token: this.loginUser.token
            };
            this.getGradeDetails(grade);
        }
    },
    
    created() {
        this.show(this.$route.params.id);
    }
}
</script>

<style>

</style>
