<template>
    <div>
        <b-breadcrumb>
            <li class="breadcrumb-item">
                <router-link to="/"><i class="fa fa-home"></i> Home</router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/sections"> Sections</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Add Edit Section</li>
        </b-breadcrumb>
        
        <b-container>
            <b-card class="mt-3" header="Add Edit Section">
                <b-form @submit.prevent="onSubmit">
                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-user-circle pb-2"></i> | Name : 
                            <b-form-input
                                name="name"
                                type="text"
                                class="form-control"
                                id="name"
                                v-model="user.name"
                                :class="{'input': true, 'is-danger': errors.has('name') }"
                                v-validate="'required|min:5'"
                                placeholder="Please Enter Your Name">
                            </b-form-input>
                            <span v-show="errors.has('name')" class="is-danger">{{ errors.first('name') }}</span>
                        </b-col>

                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-crop pb-2"></i> | Capacity : 
                            <b-form-input
                                name="capacity"
                                type="number"
                                class="form-control"
                                id="capacity"
                                v-model="user.capacity"
                                placeholder="Please Enter Your Capacity">
                            </b-form-input>
                        </b-col>
                    </b-row>

                    <b-row class="pt-2">
                        <b-col md="6" sm="12">
                          <i class="main-icon fa fa-child pb-2"></i> | Supervisor : 
                            <b-form-select v-model="user.supervisor">
                              <option v-for="teacher in teachersTable.teachers" :key="teacher.id" :value="teacher.id">{{ teacher.user.name }} </option>
                            </b-form-select>
                        </b-col>

                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-clone pb-2"></i> | Grade : 
                            <b-form-select v-model="user.grade_id">
                              <option v-for="grade in gradesTable.grades" :key="grade.id" :value="grade.id">{{ grade.name }}</option>
                            </b-form-select>
                        </b-col>
                    </b-row>

                    <br>
                    <b-button type="submit" variant="primary">Save</b-button>
                    <router-link class="btn btn-secondary ml-2" to="/sections">
                        <i class="back-icon fa fa-reply-all"></i> | Back To List
                    </router-link>
                </b-form>
                
            </b-card>
        </b-container>
    </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
    name:"SectionAddEdit",
  data() {
    return {
      user: {
        name: "",
        supervisor: "",
        grade_id: "",
        capacity: "",
        list: true,
        type: 'not_supervisor'
      },

      old_section: {},
      ShowInAdd: false,
      confirm: false
    };
  },

  computed: {
      ...mapState({
        loginUser: state => state.login.loginUser,
        sectionDetails: state => state.sections.sectionDetails,
        teachersTable: state => state.teachers.teachers,
        gradesTable: state => state.grades.grades
      })
  },

  methods: {
    ...mapActions(["addSection","editSection","getSectionDetails","getTeachers","getGrades","getTeachersNotSupervisor"]),

    onSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          let user = new FormData();

          if (_.endsWith(this.$route.path, "add")) {
            user.append("name", this.user.name);
            user.append("supervisor", this.user.supervisor);
            user.append("grade_id", this.user.grade_id);
            user.append("capacity", this.user.capacity);
            
            let info = {
              user,
              token: this.loginUser.token
            };
            this.addSection(info)
          } else {

            this.old_section.name == this.user.name ? "" : user.append("name", this.user.name);
            this.old_section.supervisor.id == this.user.supervisor ? "" : user.append("supervisor", this.user.supervisor);
            this.old_section.grade.id == this.user.grade_id ? "" : user.append("grade_id", this.user.grade_id);
            this.old_section.capacity == this.user.capacity ? "" : user.append("capacity", this.user.capacity);
            
            let info = {
              user,
              id: this.sectionDetails.id,
              token: this.loginUser.token
            };            
            this.editSection(info);
          }
        }
      });
    },

    showUser(id) {
      let section = {
        id,
        token: this.loginUser.token
      };
      this.getSectionDetails(section);
    },

    displayTeachers() {
        let payload={
            list: this.user.list,
            type: this.user.type,
            token: this.loginUser.token
        }
    this.getTeachersNotSupervisor(payload);
    },

    displayGrades() {
        let payload={
            token: this.loginUser.token
        }
    this.getGrades(payload);
    },
  },

  watch: {
    $route() {
      this.showUser(this.$route.params.id);
    },

    sectionDetails() {
      this.user.name = this.sectionDetails.name;
      this.user.supervisor = this.sectionDetails.supervisor.id;
      this.user.grade_id = this.sectionDetails.grade.id;
      this.user.capacity = this.sectionDetails.capacity;

      this.old_section = this.sectionDetails;
    }
  },
  
  created() {
    if (_.endsWith(this.$route.path, "edit")) {
      this.showUser(this.$route.params.id);
    } else {
      this.ShowInAdd = true
    };

    this.displayTeachers();
    this.displayGrades();
  }
};
</script>

<style>
    .main-icon {
        color: #20bbea !important;
    }

    .back-icon {
        color: #ffffff !important;
    }

    .btn_width {
      width: 200px !important;
    }
</style>
