<template>
    <div>
        <b-breadcrumb>
            <li class="breadcrumb-item">
                <router-link to="/"><i class="fa fa-home"></i> Home</router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/sections">Sections</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Show</li>
        </b-breadcrumb>

        <b-container>
            <b-card-group deck>
                <b-card
                header="Section Details">
                <b-card-text>
                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-user-circle"></i> | Name : {{ sectionDetails.name }}
                            <hr />
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-crop"></i> | Capacity : {{ sectionDetails.capacity }}
                            <hr />
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-child"></i> | Supervisor : {{ sectionDetails.supervisor.user.name }}
                            <hr />
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-clone"></i> | Grade : {{ sectionDetails.grade.name }}
                            <hr />
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-child"></i> | Students :
                            <b-table-simple hover caption-top responsive stacked="sm">
                                <b-thead class="head">
                                    <b-tr>
                                        <b-th>Name</b-th>
                                    </b-tr>
                                </b-thead>
                                <b-tbody>
                                    <b-tr v-for="student in sectionDetails.students" :key="student.id">
                                        <td> {{ student.name }} </td>
                                    </b-tr>
                                </b-tbody>
                            </b-table-simple>
                        </b-col>
                    </b-row>
                </b-card-text>
                <router-link to="/sections" class="btn btn-secondary">
                    <i class="back-icon fa fa-reply-all"></i> | Back To List
                </router-link>
                </b-card>
            </b-card-group>
        </b-container>
    </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
    name: "SectionShow",
    data() {
        return {
        }
    },

    computed: {
        ...mapState({
            loginUser: state => state.login.loginUser,
            sectionDetails: state => state.sections.sectionDetails,
            studentInSectionTable: state => state.sections.studentInSection,
            })
    },
    
    watch: {
        $route(){            
            this.show(this.$route.params.id);
        }
    },

    methods: {
        ...mapActions(["getSectionDetails"]),

        show(id) {
            let section = {
                id,
                token: this.loginUser.token
            };
            this.getSectionDetails(section);
        }
    },

    created() {
        this.show(this.$route.params.id);
    }
}
</script>

<style>

</style>
