<template>
    <div>
        <b-breadcrumb>
            <li class="breadcrumb-item">
                <router-link to="/"><i class="fa fa-home"></i> Home</router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/courseTemplates"> Course Templates</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Add Edit Course Template</li>
        </b-breadcrumb>
        
        <b-container>
            <b-card class="mt-3" header="Add Edit Course Templates">
                <b-form @submit.prevent="onSubmit">
                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-user-circle pb-2"></i> | Name : 
                            <b-form-input
                                name="name"
                                type="text"
                                class="form-control"
                                id="name"
                                v-model="user.name"
                                :class="{'input': true, 'is-danger': errors.has('name') }"
                                v-validate="'required|min:10'"
                                placeholder="Please Enter Your Name">
                            </b-form-input>
                            <span v-show="errors.has('name')" class="is-danger">{{ errors.first('name') }}</span>
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-clone pb-2"></i> | Grade : 
                            <b-form-select v-model="user.grades_template_id">
                              <option v-for="gradeTemplate in gradeTemplatesTable.grades_template" :key="gradeTemplate.id" :value="gradeTemplate.id">{{ gradeTemplate.name }}</option>
                            </b-form-select>
                        </b-col>
                    </b-row>
                    
                    <b-row class="pt-2">
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-image pb-2"></i> | Picture :
                            <b-form-file
                                name="picture"
                                type="file"
                                ref="picture1"
                                accept="jpg"
                                class="form-control"
                                id="picture"
                                @change="onFileSelected()"
                                :class="{'input': true, 'is-danger': errors.has('picture') }"
                            ></b-form-file>
                            <span v-show="errors.has('picture')" class="is-danger">{{ errors.first('picture') }}</span>
                        </b-col>
                    </b-row>

                    <br>
                    <b-button type="submit" variant="primary">Save</b-button>
                    <router-link class="btn btn-secondary ml-2" to="/courseTemplates">
                        <i class="back-icon fa fa-reply-all"></i> | Back To List
                    </router-link>
                </b-form>
                
            </b-card>
        </b-container>
    </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name:"CourseTemplateAddEdit",
  data() {
    return {
      user: {
        name: "",
        picture: null,
        grades_template_id: ""
      },

      old_courseTemplate: {},
      ShowInAdd:false,
      confirm: false
    };
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      courseTemplateDetails: state => state.courseTemplates.courseTemplateDetails,
      gradeTemplatesTable: state => state.gradeTemplates.gradeTemplates
    })
  },

  methods: {
    onFileSelected() {              
      this.user.picture = this.$refs.picture1.$refs.input.files[0];
    },

    onSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          let user = new FormData();

          if (_.endsWith(this.$route.path, "add")) {
            user.append("name", this.user.name);
            user.append("picture", this.user.picture);
            user.append("grades_template_id", this.user.grades_template_id);
            
            let info = {
              user,
              token: this.loginUser.token
            };
            this.$store.dispatch("addCourseTemplate", info);
          } else {

            this.old_courseTemplate.name == this.user.name ? "" : user.append("name", this.user.name);
            this.old_courseTemplate.picture == this.user.picture ? "" : user.append("picture", this.user.picture);
            this.old_courseTemplate.grades_template_id == this.user.grades_template_id ? "" : user.append("grades_template_id", this.user.grades_template_id);
            
            let info = {
              user,
              id: this.courseTemplateDetails.id,
              token: this.loginUser.token
            };            
            this.$store.dispatch("editCourseTemplate", info);
          }
        }
      });
    },

    showUser(id) {
      let courseTemplate = {
        id,
        token: this.loginUser.token
      };
      this.$store.dispatch("getCourseTemplateDetails", courseTemplate);
    },

    getGradeTemplates() {
        let payload={
            token: this.loginUser.token
        }
    this.$store.dispatch("getGradeTemplates", payload);
    },
  },

  watch: {
    $route() {
      this.showUser(this.$route.params.id);
    },

    courseTemplateDetails() {
      this.user.name = this.courseTemplateDetails.name;
      this.user.picture = this.courseTemplateDetails.picture;
      this.user.grades_template_id = this.courseTemplateDetails.grade_template.id;

      this.old_courseTemplate = this.courseTemplateDetails;
    }
  },
  
  created() {
    if (_.endsWith(this.$route.path, "edit")) {
      this.showUser(this.$route.params.id);
    } else {
      this.ShowInAdd = true
    };

    this.getGradeTemplates();
  }
};
</script>

<style>
    .main-icon {
        color: #20bbea !important;
    }

    .back-icon {
        color: #ffffff !important;
    }
</style>
