<template>
  <div>
    <b-breadcrumb>
      <li class="breadcrumb-item">
        <router-link to="/">
          <i class="fa fa-home"></i> Home
        </router-link>
      </li>
      <li class="breadcrumb-item">
        <router-link to="/courseTemplates">Course Templates</router-link>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Show</li>
    </b-breadcrumb>

    <b-container>
      <b-card-group deck>
        <b-card header="Course Template Details">
          <b-card-text>
            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-user-circle"></i>
                | Name : {{ courseTemplateDetails.name }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-clone"></i>
                | Grade : {{ courseTemplateDetails.grade_template.name }}
                <hr>
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-image"></i>
                | Picture : <b-img thumbnail fluid style="width:150px; height:150px" :src="courseTemplateDetails.picture" alt="No Image" title=""></b-img>
                <hr>
              </b-col>
            </b-row>
          </b-card-text>
          <router-link to="/courseTemplates" class="btn btn-secondary">
            <i class="back-icon fa fa-reply-all"></i> | Back To List
          </router-link>
        </b-card>
      </b-card-group>
    </b-container>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "CourseTemplateShow",
  data() {
    return {};
  },
  
  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      courseTemplateDetails: state => state.courseTemplates.courseTemplateDetails
    })
  },

  watch: {
    $route() {
      this.show(this.$route.params.id);
    }
  },

  methods: {
    ...mapActions(["getCourseTemplateDetails"]),

    show(id) {
      let courseTemplate = {
        id,
        token: this.loginUser.token
      };
      this.getCourseTemplateDetails(courseTemplate);
    }
  },

  created() {
    this.show(this.$route.params.id);
  }
};
</script>

<style>
</style>
