
<template>
    <div>
        <b-breadcrumb>
            <li class="breadcrumb-item">
            <router-link to="/"><i class="fa fa-home"></i> Home</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Admins</li>
        </b-breadcrumb>

        <b-container>
            <b-row>
                <b-col>
                    <h3> All Admins </h3>
                    <hr />
                </b-col>

                <b-col>
                    <router-link to="/addEditAdmin" tag="b-button" class="float-right">
                        <i class="fa fa-user"></i> | Add New Admin
                    </router-link>
                </b-col>
            </b-row>
            
            <b-table-simple hover caption-top responsive stacked="sm">
                <b-thead class="head">
                    <b-tr>
                        <b-th>
                            <input type="checkbox" />
                        </b-th>
                        <b-th>ID</b-th>
                        <b-th>Name</b-th>
                        <b-th>Email</b-th>
                        <b-th>Address</b-th>
                        <b-th>Health Info</b-th>
                        <b-th>Actions</b-th>
                    </b-tr>
                </b-thead>
                <b-tbody>
                    <b-tr>
                        <td>
                            <input type="checkbox"/>
                        </td>
                        <td>1</td>
                        <td>Ali</td>
                        <td>ali70@gmail.com</td>
                        <td>Mukalla</td>
                        <td>Good</td>
                        <td>
                            <b-button variant="primary" class="mx-1">
                                <router-link to="/showAdmin" class="mx-1">
                                    <i class="icon-color fa fa-eye fa-lg"></i>
                                </router-link>
                            </b-button>

                            <b-button variant="secondary" class="mx-1">
                                <router-link to="/addEditAdmin" class="mx-1">
                                    <i class="icon-color fa fa-edit fa-lg"></i>
                                </router-link>
                            </b-button>

                            <b-button variant="danger" class="mx-1">
                                <router-link to="" class="mx-1">
                                    <i class="icon-color fa fa-trash fa-lg"></i>
                                </router-link>
                            </b-button>
                        </td>
                    </b-tr>
                </b-tbody>
            </b-table-simple>
        </b-container>
    </div>
</template>

<script>
export default {
    name:"AdminsList",
    data() {
    },
    
    /*computed: {
        admins() {
        return this.$store.state.admins.admins;
        }
    },
    methods: {
        getAdmins() {
        this.$store.dispatch("getAdmins");
        }
    },

    created() {
        this.getStudents();
    }*/
}
</script>

<style scoped>
    .icon-color {
        color: #ffffff;
    }

    .head {
        background: #ffffff;
    }

    hr {
    width: 23% !important;
    margin-top: 0 !important;
    float: left !important;
    }
</style>
