<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <b-form @submit.prevent="onSubmit">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <b-input-group class="mb-3">
                    <b-input-group-prepend>
                      <b-input-group-text>
                        <i class="icon-user"></i>
                      </b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input
                      type="text"
                      name="username"
                      class="form-control"
                      placeholder="Username"
                      autocomplete="username"
                      v-model="loginInfo.username"
                      :class="{'input': true, 'is-danger': errors.has('username') }"
                      v-validate="'required|min:3|max:16'"
                    />
                  </b-input-group>
                  <span 
                    v-show="errors.has('username')" 
                    class="is-danger">{{ errors.first('username') }}
                  </span>

                  <b-input-group class="mb-4">
                    <b-input-group-prepend>
                      <b-input-group-text>
                        <i class="icon-lock"></i>
                      </b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input
                      type="password"
                      name="password"
                      class="form-control"
                      placeholder="Password"
                      autocomplete="password"
                      v-model="loginInfo.password"
                      :class="{'input': true, 'is-danger': errors.has('password') }"
                      v-validate="'required'"
                    />
                  </b-input-group>
                  <span 
                    v-show="errors.has('password')" 
                    class="is-danger">{{ errors.first('password') }}
                  </span>

                  <b-row>
                    <b-col cols="6">
                      <b-button variant="primary" type="submit" class="px-4">Login</b-button>
                    </b-col>
                    <b-col cols="6" class="text-right">
                      <b-button variant="link" class="px-0">Forgot password?</b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      loginInfo: {
        username: "",
        password: ""
      }
    }
  },
  methods: {
    onSubmit() {      
      this.$validator.validateAll().then(result => {
        if (result) {          
          let user = new FormData();
          user.append("username", this.loginInfo.username);
          user.append("password", this.loginInfo.password);
          
          this.$store.dispatch("login", user);
        }
      });
    },
  }
};

</script>

