<template>
  <div>
    <b-breadcrumb>
      <li class="breadcrumb-item">
        <router-link to="/">
          <i class="fa fa-home"></i> Home
        </router-link>
      </li>
      <li class="breadcrumb-item">
        <router-link to="/guardians">Guardians</router-link>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Edit Guardian</li>
    </b-breadcrumb>

    <b-container>
      <b-card class="mt-3" header="Add Edit Guardians">
        <b-form @submit.prevent="onSubmit">
          <b-row>
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-user-circle pb-2"></i> | <strong>Name :</strong>
              <b-form-input
                name="name"
                type="text"
                class="form-control"
                id="name"
                v-model="user.name"
                :class="{'input': true, 'is-danger': errors.has('name') }"
                v-validate="'required|min:20'"
                placeholder="Please Enter Your Name"
              ></b-form-input>
              <span v-show="errors.has('name')" class="is-danger">{{ errors.first('name') }}</span>
            </b-col>
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-vcard pb-2"></i> | <strong>Username :</strong>
              <b-form-input
                name="username"
                type="text"
                class="form-control"
                id="username"
                v-model="user.username"
                :class="{'input': true, 'is-danger': errors.has('username') }"
                v-validate="'required|min:5'"
                placeholder="Please Enter Your Username"
              ></b-form-input>
              <span v-show="errors.has('username')" class="is-danger">{{ errors.first('username') }}</span>
            </b-col>
          </b-row>

          <b-row class="pt-2">
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-at pb-2"></i> | <strong>Email :</strong>
              <b-form-input
                name="email"
                type="email"
                class="form-control"
                id="email"
                v-model="user.email"
                :class="{'input': true, 'is-danger': errors.has('email') }"
                v-validate="'required'"
                placeholder="Please Enter Your Email"
              ></b-form-input>
              <span v-show="errors.has('email')" class="is-danger">{{ errors.first('email') }}</span>
            </b-col>
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-birthday-cake pb-2"></i> | <strong>Birthdate :</strong>
              <b-form-input
                name="birthdate"
                type="date"
                class="form-control"
                id="birthdate"
                v-model="user.birthdate"
                :class="{'input': true, 'is-danger': errors.has('birthdate') }"
                v-validate="'required'"
                placeholder="Please Enter Your Birthdate"
              ></b-form-input>
              <span
                v-show="errors.has('birthdate')"
                class="is-danger"
              >{{ errors.first('birthdate') }}</span>
            </b-col>
          </b-row>

          <b-row class="pt-2">
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-map-pin pb-2"></i> | <strong>Address :</strong>
              <b-form-input
                name="address"
                type="text"
                class="form-control"
                id="address"
                v-model="user.address"
                :class="{'input': true, 'is-danger': errors.has('address') }"
                v-validate="'required'"
                placeholder="Please Enter Your Address"
              ></b-form-input>
              <span v-show="errors.has('address')" class="is-danger">{{ errors.first('address') }}</span>
            </b-col>

            <b-col md="6" sm="12">
              <i class="main-icon fa fa-mobile pb-2"></i> | <strong>Phone :</strong>
              <b-form-input
                name="phone"
                type="tel"
                class="form-control"
                id="phone"
                v-model="user.phone"
                :class="{'input': true, 'is-danger': errors.has('phone') }"
                v-validate="'required'"
                placeholder="Please Enter Your Phone"
              ></b-form-input>
              <span v-show="errors.has('phone')" class="is-danger">{{ errors.first('phone') }}</span>
            </b-col>
          </b-row>

          <b-row class="pt-2">
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-map-pin pb-2"></i> | <strong>Work Address :</strong>
              <b-form-input
                name="work_address"
                type="text"
                class="form-control"
                id="work_address"
                v-model="user.work_address"
                :class="{'input': true, 'is-danger': errors.has('work_address') }"
                v-validate="'required'"
                placeholder="Please Enter Your Work Address"
              ></b-form-input>
              <span
                v-show="errors.has('work_address')"
                class="is-danger"
              >{{ errors.first('work_address') }}</span>
            </b-col>

            <b-col md="6" sm="12">
              <i class="main-icon fa fa-phone pb-2"></i> | <strong>Work Phone :</strong>
              <b-form-input
                name="work_phone"
                type="tel"
                class="form-control"
                id="work_phone"
                v-model="user.work_phone"
                :class="{'input': true, 'is-danger': errors.has('work_phone') }"
                v-validate="'required'"
                placeholder="Please Enter Your Work Phone"
              ></b-form-input>
              <span
                v-show="errors.has('work_phone')"
                class="is-danger"
              >{{ errors.first('work_phone') }}</span>
            </b-col>
          </b-row>

          <b-row class="pt-2">
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-phone pb-2"></i> | <strong>Telephone :</strong>
              <b-form-input
                name="telephone"
                type="tel"
                class="form-control"
                id="telephone"
                v-model="user.telephone"
                :class="{'input': true, 'is-danger': errors.has('telephone') }"
                v-validate="'required'"
                placeholder="Please Enter Your Telephone"
              ></b-form-input>
              <span
                v-show="errors.has('telephone')"
                class="is-danger"
              >{{ errors.first('telephone') }}</span>
            </b-col>
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-creidt-card pb-2"></i> | <strong>ID Card :</strong>
              <b-form-input
                name="identity_card"
                type="number"
                class="form-control"
                id="identity_card"
                v-model="user.identity_card"
                :class="{'input': true, 'is-danger': errors.has('identity_card') }"
                v-validate="'required'"
                placeholder="Please Enter Your Identity Card"
              ></b-form-input>
              <span
                v-show="errors.has('identity_card')"
                class="is-danger"
              >{{ errors.first('identity_card') }}</span>
            </b-col>
          </b-row>

          <b-row class="pt-2">
            <b-col v-if="ShowInAdd" md="6" sm="12">
              <i class="main-icon fa fa-credit-card pb-2"></i> | <strong>Password :</strong>
              <b-form-input
                name="password"
                type="password"
                class="form-control"
                id="password"
                v-model="user.password"
                :class="{'input': true, 'is-danger': errors.has('password') }"
                v-validate="'required|min:6'"
                placeholder="Enter Your ID Card"
              ></b-form-input>
              <span v-show="errors.has('password')" class="is-danger">{{ errors.first('password') }}</span>
            </b-col>

            <b-col v-if="ShowInAdd" md="6" sm="12">
              <i class="main-icon fa fa-credit-card pb-2"></i> | <strong>Confirm Password :</strong>
              <b-form-input
                name="password_confirmation"
                type="password"
                class="form-control"
                id="password_confirmation"
                v-model="user.password_confirmation"
                :class="{'input': true, 'is-danger': errors.has('password_confirmation') }"
                v-validate="'required|min:6'"
                placeholder="Enter Your confirm_password"
              ></b-form-input>
              <span
                v-show="errors.has('password_confirmation')"
                class="is-danger"
              >{{ errors.first('password_confirmation') }}</span>
            </b-col>
          </b-row>

          <b-row class="pt-2">
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-image pb-2"></i> | <strong>Picture : </strong>
              <b-form-file
                name="picture"
                type="file"
                ref="picture1"
                accept="jpg"
                class="form-control"
                id="picture"
                @change="onFileSelected()"
                :class="{'input': true, 'is-danger': errors.has('picture') }"
              ></b-form-file>
              <span v-show="errors.has('picture')" class="is-danger">{{ errors.first('picture') }}</span>
            </b-col>
          </b-row>

          <br>
          <b-button type="submit" variant="primary">Save</b-button>
          <router-link class="btn btn-secondary ml-2" to="/guardians">
            <i class="back-icon fa fa-reply-all"></i> | Back To List
          </router-link>
        </b-form>
      </b-card>
    </b-container>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "GuardianAddEdit",
  data() {
    return {
      user: {
        name: "",
        username: "",
        email: "",
        address: "",
        birthdate: "",
        picture: null,

        Phone: "",
        work_address: "",
        work_phone: "",
        telephone: "",
        identity_card: "",
        password: "",
        password_confirmation: ""
      },

      old_guardian: {},
      ShowInAdd: false,
      confirm: false
    };
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      guardianDetails: state => state.guardians.guardianDetails
    })
  },

  methods: {
    ...mapActions(["addGuardian", "editGuardian", "getGuardianDetails"]),

    onFileSelected() {
      this.user.picture = this.$refs.picture1.$refs.input.files[0];
    },

    onSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          let user = new FormData();

          if (_.endsWith(this.$route.path, "add")) {
            user.append("name", this.user.name);
            user.append("username", this.user.username);
            user.append("email", this.user.email);
            user.append("address", this.user.address);
            user.append("birthdate", this.user.birthdate);

            user.append("phone", this.user.phone);
            user.append("work_address", this.user.work_address);
            user.append("work_phone", this.user.work_phone);
            user.append("identity_card", this.user.identity_card);
            user.append("telephone", this.user.telephone);
            user.append("password", this.user.password);
            user.append("password_confirmation", this.user.password_confirmation);

            user.append("avatar", this.user.picture);

            let info = {
              user,
              token: this.loginUser.token
            };
            this.addGuardian(info);
          } else {
            this.old_guardian.user.name == this.user.name
              ? ""
              : user.append("name", this.user.name);
            this.old_guardian.user.username == this.user.username
              ? ""
              : user.append("username", this.user.username);
            this.old_guardian.user.email == this.user.email
              ? ""
              : user.append("email", this.user.email);
            this.old_guardian.user.address == this.user.address
              ? ""
              : user.append("address", this.user.address);
            this.old_guardian.user.birthdate == this.user.birthdate
              ? ""
              : user.append("birthdate", this.user.birthdate);

            this.old_guardian.phone == this.user.phone
              ? ""
              : user.append("phone", this.user.phone);
            this.old_guardian.work_address == this.user.work_address
              ? ""
              : user.append("work_address", this.user.work_address);
            this.old_guardian.work_phone == this.user.work_phone
              ? ""
              : user.append("work_phone", this.user.work_phone);
            this.old_guardian.identity_card == this.user.identity_card
              ? ""
              : user.append("identity_card", this.user.identity_card);
            this.old_guardian.telephone == this.user.telephone
              ? ""
              : user.append("telephone", this.user.telephone);
            this.old_guardian.password == this.user.password
              ? ""
              : user.append("password", this.user.password);
            this.old_guardian.password_confirmation ==
            this.user.password_confirmation
              ? ""
              : user.append(
                  "password_confirmation",
                  this.user.password_confirmation
                );

            this.old_guardian.user.avatar  == this.user.picture ? "" : user.append("avatar", this.selectedFile, this.user.selectedFile.name);

            let info = {
              user,
              id: this.guardianDetails.id,
              token: this.loginUser.token
            };
            this.editGuardian(info);
          }
        }
      });
    },

    showUser(id) {
      let guardian = {
        id,
        token: this.loginUser.token
      };
      this.getGuardianDetails(guardian);
    }
  },

  watch: {
    $route() {
      this.showUser(this.$route.params.id);
    },
    
    guardianDetails() {
      this.user.name = this.guardianDetails.user.name;
      this.user.email = this.guardianDetails.user.email;
      this.user.username = this.guardianDetails.user.username;
      this.user.address = this.guardianDetails.user.address;
      this.user.birthdate = this.guardianDetails.user.birthdate;
      this.user.picture = this.guardianDetails.user.avatar;

      this.user.phone = this.guardianDetails.phone;
      this.user.work_address = this.guardianDetails.work_address;
      this.user.work_phone = this.guardianDetails.work_phone;
      this.user.identity_card = this.guardianDetails.identity_card;
      this.user.telephone = this.guardianDetails.telephone;
      this.user.password = this.guardianDetails.password;
      this.user.password_confirmation = this.guardianDetails.password_confirmation;

      this.old_guardian = this.guardianDetails;
    }
  },
  
  created() {
    if (_.endsWith(this.$route.path, "edit")) {
      this.showUser(this.$route.params.id);
    } else {
      this.ShowInAdd = true;
    }
  }
};
</script>

<style>
.main-icon {
  color: #20bbea !important;
}

.back-icon {
  color: #ffffff !important;
}
</style>
