<template>
  <div>
    <b-breadcrumb>
      <li class="breadcrumb-item">
        <router-link to="/">
          <i class="fa fa-home"></i> Home
        </router-link>
      </li>
      <li class="breadcrumb-item">
        <router-link to="/guardians">Guardians</router-link>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Show</li>
    </b-breadcrumb>

    <b-container>
      <b-card-group deck>
        <b-card header="Guardian Details">
          <b-card-text>
            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-user-circle"></i>
                | <strong>Name :</strong> {{ guardianDetails.user.name }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-at"></i>
                | <strong>Email :</strong> {{ guardianDetails.user.email }}
                <hr>
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-map-pin"></i>
                | <strong>Address :</strong> {{ guardianDetails.user.address }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-mobile"></i>
                | <strong>Phone :</strong> {{ guardianDetails.phone }}
                <hr>
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-map-pin"></i>
                | <strong>Work Address :</strong> {{ guardianDetails.work_address }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-phone"></i>
                | <strong>Work Phone :</strong> {{ guardianDetails.work_phone }}
                <hr>
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-phone"></i>
                | <strong>Telephone :</strong> {{ guardianDetails.telephone }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-credit-card"></i>
                | <strong>ID Card :</strong> {{ guardianDetails.identity_card }}
                <hr>
              </b-col>
            </b-row>
          </b-card-text>
          <router-link to="/guardians" class="btn btn-secondary">
            <i class="back-icon fa fa-reply-all"></i> | Back To List
          </router-link>
        </b-card>
      </b-card-group>
    </b-container>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "GuardianShow",
  data() {
    return {};
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      guardianDetails: state => state.guardians.guardianDetails
    }),

    isResetted() {
      if (
        this.filters.search_text == "" &&
        this.filters.page == 1 &&
        this.filters.sort == "DESC" &&
        this.filters.type == "" &&
        this.filters.orderBy == "id"
      ) {
        return true;
      } else {
        return false;
      }
    }
  },

  watch: {
    ...mapActions(["getGuardianDetails"]),

    $route() {
      this.show(this.$route.params.id);
    }
  },

  methods: {
    ...mapActions(["getGuardianDetails"]),

    show(id) {
      let guardian = {
        id,
        token: this.loginUser.token
      };
      this.getGuardianDetails(guardian);
    }
  },

  created() {
    this.show(this.$route.params.id);
  }
};
</script>

<style>
</style>
