<template>
    <div>
        <b-breadcrumb>
            <li class="breadcrumb-item">
                <router-link to="/"><i class="fa fa-home"></i> Home</router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/semesters"> Semesters</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Add Edit Semester</li>
        </b-breadcrumb>
        
        <b-container>
            <b-card class="mt-3" header="Add Edit Semester">
                <b-form @submit.prevent="onSubmit">
                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-user-circle pb-2"></i> | Name : 
                            <b-form-input
                                name="name"
                                type="text"
                                class="form-control"
                                id="name"
                                v-model="user.name"
                                :class="{'input': true, 'is-danger': errors.has('name') }"
                                v-validate="'required|min:5'"
                                placeholder="Please Enter Your Name">
                            </b-form-input>
                            <span v-show="errors.has('name')" class="is-danger">{{ errors.first('name') }}</span>
                        </b-col>

                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-calendar-plus-o pb-2"></i> | Start Date : 
                            <b-form-input
                                name="start_date"
                                type="date"
                                class="form-control"
                                id="start_date"
                                v-model="user.start_date"
                                :class="{'input': true, 'is-danger': errors.has('start_date') }"
                                v-validate="'required'"
                                placeholder="Please Enter Your Start Date">
                            </b-form-input>
                            <span v-show="errors.has('start_date')" class="is-danger">{{ errors.first('start_date') }}</span>
                        </b-col>
                    </b-row>

                    <b-row class="pt-2">
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-calendar-times-o pb-2"></i> | End Date : 
                            <b-form-input
                                name="end_date"
                                type="date"
                                class="form-control"
                                id="end_date"
                                v-model="user.end_date"
                                :class="{'input': true, 'is-danger': errors.has('end_date') }"
                                v-validate="'required'"
                                placeholder="Please Enter Your End Date">
                            </b-form-input>
                            <span v-show="errors.has('end_date')" class="is-danger">{{ errors.first('end_date') }}</span>
                        </b-col>

                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-clone pb-2"></i> | Year : 
                            <b-form-select v-model="user.year_id">
                              <option v-for="year in yearsTable.years" :key="year.id" :value="year.id">{{ year.name }}</option>
                            </b-form-select>
                        </b-col>
                    </b-row>

                    <br>
                    <b-button type="submit" variant="primary">Save</b-button>
                    <router-link class="btn btn-secondary ml-2" to="/semesters">
                        <i class="back-icon fa fa-reply-all"></i> | Back To List
                    </router-link>
                </b-form>
                
            </b-card>
        </b-container>
    </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
    name:"SemesterAddEdit",
  data() {
    return {
      user: {
        name: "",
        start_date: "",
        end_date: "",
        year_id: ""
      },

      old_semester: {},
      ShowInAdd:false,
      confirm: false
    };
  },

  computed: {
      ...mapState({
              loginUser: state => state.login.loginUser,
              semesterDetails: state => state.semesters.semesterDetails,
              yearsTable: state => state.years.years
            })
  },

  methods: {
    ...mapActions(["addSemester","editSemester","getSemesterDetails","getYears"]),

    onSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          let user = new FormData();

          if (_.endsWith(this.$route.path, "add")) {
            user.append("name", this.user.name);
            user.append("start_date", this.user.start_date);
            user.append("end_date", this.user.end_date);
            user.append("year_id", this.user.year_id);
            
            let info = {
              user,
              token: this.loginUser.token
            };
            this.addSemester(info);
          } else {

            this.old_semester.name == this.user.name ? "" : user.append("name", this.user.name);
            this.old_semester.start_date == this.user.start_date ? "" : user.append("start_date", this.user.start_date);
            this.old_semester.end_date == this.user.end_date ? "" : user.append("end_date", this.user.end_date);
            this.old_semester.year.name == this.user.year_id ? "" : user.append("id", this.user.year_id);
            
            let info = {
              user,
              id: this.semesterDetails.id,
              token: this.loginUser.token
            };            
            this.editSemester(info);
          }
        }
      });
    },

    showUser(id) {
      let semester = {
        id,
        token: this.loginUser.token
      };
      this.getSemesterDetails(semester);
    },

    displayYears() {
        let payload={
            token: this.loginUser.token
        }
    this.getYears(payload);
    },
  },

  watch: {
    $route() {
      this.showUser(this.$route.params.id);
    },

    semesterDetails() {
      this.user.name = this.semesterDetails.name;
      this.user.start_date = this.semesterDetails.start_date;
      this.user.end_date = this.semesterDetails.end_date;
      this.user.year_id = this.semesterDetails.year.id;

      this.old_semester = this.semesterDetails;
    }
  },
  
  created() {
    if (_.endsWith(this.$route.path, "edit")) {
      this.showUser(this.$route.params.id);
    } else {
      this.ShowInAdd = true
    };

    this.displayYears();
  }
};
</script>

<style>
    .main-icon {
        color: #20bbea !important;
    }

    .back-icon {
        color: #ffffff !important;
    }
</style>
