<template>
    <div>
        <b-breadcrumb>
            <li class="breadcrumb-item">
                <router-link to="/"><i class="fa fa-home"></i> Home</router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/courses"> Courses</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Add Edit Course</li>
        </b-breadcrumb>
        
        <b-container>
            <b-card class="mt-3" header="Add Edit Courses">
                <b-form @submit.prevent="onSubmit">
                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-user-circle pb-2"></i> | Name : 
                            <b-form-input
                                name="name"
                                type="text"
                                class="form-control"
                                id="name"
                                v-model="user.name"
                                :class="{'input': true, 'is-danger': errors.has('name') }"
                                v-validate="'required|min:10'"
                                placeholder="Please Enter Your Name">
                            </b-form-input>
                            <span v-show="errors.has('name')" class="is-danger">{{ errors.first('name') }}</span>
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-clone pb-2"></i> | Grade : 
                            <b-form-select v-model="user.grade_id">
                              <option v-for="grade in gradesTable.grades" :key="grade.id" :value="grade.id">{{ grade.name }}</option>
                            </b-form-select>
                        </b-col>
                    </b-row>
                    
                    <b-row class="pt-2">
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-image pb-2"></i> | Picture :
                            <b-form-file
                                name="picture"
                                type="file"
                                ref="picture1"
                                accept="jpg"
                                class="form-control"
                                id="picture"
                                @change="onFileSelected()"
                                :class="{'input': true, 'is-danger': errors.has('picture') }"
                            ></b-form-file>
                            <span v-show="errors.has('picture')" class="is-danger">{{ errors.first('picture') }}</span>
                        </b-col>
                    </b-row>

                    <br>
                    <b-button type="submit" variant="primary">Save</b-button>
                    <router-link class="btn btn-secondary ml-2" to="/courses">
                        <i class="back-icon fa fa-reply-all"></i> | Back To List
                    </router-link>
                </b-form>
                
            </b-card>
        </b-container>
    </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name:"CourseAddEdit",
  data() {
    return {
      user: {
        name: "",
        picture: "",
        grade_id: "",
      },

      old_course: {},
      ShowInAdd:false,
      confirm: false
    };
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      courseDetails: state => state.courses.courseDetails,
      gradesTable: state => state.grades.grades
    })
  },

  methods: {
    ...mapActions(["addCourse","editCourse","getCourseDetails","getGrades"]),

      onFileSelected() {              
      this.user.picture = this.$refs.picture1.$refs.input.files[0];
    },

    onSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          let user = new FormData();

          if (_.endsWith(this.$route.path, "add")) {
            user.append("name", this.user.name);
            user.append("picture", this.user.picture);
            user.append("grade_id", this.user.grade_id);
            
            let info = {
              user,
              token: this.loginUser.token
            };
            this.addCourse(info);
          } else {

            this.old_course.name == this.user.name ? "" : user.append("name", this.user.name);
            this.old_course.picture == this.user.picture ? "" : user.append("picture", this.user.picture);
            this.old_course.grade_id == this.user.grade_id ? "" : user.append("grade_id", this.user.grade_id);
            
            let info = {
              user,
              id: this.courseDetails.id,
              token: this.loginUser.token
            };            
            this.editCourse(info);
          }
        }
      });
    },

    showUser(id) {
      let course = {
        id,
        token: this.loginUser.token
      };
      this.getCourseDetails(course);
    },

    displayGrades() {
        let payload={
            token: this.loginUser.token
        }
    this.getGrades(payload);
    },
  },

  watch: {
    $route() {
      this.showUser(this.$route.params.id);
    },

    courseDetails() {
      this.user.name = this.courseDetails.name;
      this.user.picture = this.courseDetails.picture;
      this.user.grade_id = this.courseDetails.grade.id;

      this.old_course = this.courseDetails;
    }
  },

  created() {
    if (_.endsWith(this.$route.path, "edit")) {
      this.showUser(this.$route.params.id);
    } else {
      this.ShowInAdd = true
    };

    this.displayGrades();
  }
};
</script>

<style>
    .main-icon {
        color: #20bbea !important;
    }

    .back-icon {
        color: #ffffff !important;
    }
</style>
