<template>
  <div>
    <b-breadcrumb>
      <li class="breadcrumb-item">
        <router-link to="/">
          <i class="fa fa-home"></i> Home
        </router-link>
      </li>
      <li class="breadcrumb-item">
        <router-link to="/courses">Courses</router-link>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Show</li>
    </b-breadcrumb>

    <b-container>
      <b-card-group deck>
        <b-card header="Course Details">
          <b-card-text>
            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-user-circle"></i>
                | Name : {{ courseDetails.name }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-image"></i>
                | Picture : <b-img thumbnail fluid style="width:150px; height:150px" :src="courseDetails.picture" alt="No Image" title=""></b-img>
                <hr>
              </b-col>
            </b-row>
          </b-card-text>
          <router-link to="/courses" class="btn btn-secondary">
            <i class="back-icon fa fa-reply-all"></i> | Back To List
          </router-link>
        </b-card>
      </b-card-group>
    </b-container>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "CourseShow",
  data() {
    return {};
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      courseDetails: state => state.courses.courseDetails
    })
  },

  watch: {
    $route() {
      this.show(this.$route.params.id);
    }
  },

  methods: {
    ...mapActions(["getCourseDetails"]),

    show(id) {
      let course = {
        id,
        token: this.loginUser.token
      };
      this.getCourseDetails(course);
    }
  },
  
  created() {
    this.show(this.$route.params.id);
  }
};
</script>

<style>
</style>
