<template>
  <main>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#/" class="router-link-exact-active open active">Home</a>
      </li>
      <li class="breadcrumb-item">
        <span class="active">Dashboard</span>
      </li>
    </ol>

    <div class="container-fluid">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="card bg-primary">
              <div class="card-body pb-0">
                <div id="__BVID__233" class="float-right btn-group b-dropdown dropdown">
                  <!---->
                  <button
                    id="__BVID__233__BV_toggle_"
                    aria-haspopup="true"
                    aria-expanded="false"
                    type="button"
                    class="btn btn-transparent p-0"
                  >
                    <i class="icon-people"></i>
                  </button>
                </div>
                <h4 class="mb-0">{{ teachersTable.total }}</h4>
                <p>Number Of Teachers</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="card bg-info">
              <div class="card-body pb-0">
                <div id="__BVID__235" class="float-right btn-group b-dropdown dropdown">
                  <!---->
                  <button
                    id="__BVID__235__BV_toggle_"
                    aria-haspopup="true"
                    aria-expanded="false"
                    type="button"
                    class="btn btn-transparent p-0"
                  >
                    <i class="icon-people"></i>
                  </button>
                </div>
                <h4 class="mb-0">{{ guardiansTable.total }}</h4>
                <p>Number Of Guardians</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="card bg-warning">
              <div class="card-body pb-0">
                <div id="__BVID__237" class="float-right btn-group b-dropdown dropdown">
                  <!---->
                  <button
                    id="__BVID__237__BV_toggle_"
                    aria-haspopup="true"
                    aria-expanded="false"
                    type="button"
                    class="btn btn-transparent p-0"
                  >
                    <i class="icon-people"></i>
                  </button>
                </div>
                <h4 class="mb-0">{{ studentsTable.total }}</h4>
                <p>Number Of Students</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="card bg-danger">
              <div class="card-body pb-0">
                <div id="__BVID__239" class="float-right btn-group b-dropdown dropdown">
                  <!---->
                  <button
                    id="__BVID__239__BV_toggle_"
                    aria-haspopup="true"
                    aria-expanded="false"
                    type="button"
                    class="btn btn-transparent p-0"
                  >
                    <i class="icon-people"></i>
                  </button>
                </div>
                <h4 class="mb-0">{{ gradesTable.total }}</h4>
                <p>Number Of Grades</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-group mb-4">
          <div class="card">
            <div class="card-body">
              <div class="h1 text-muted text-right mb-4">
                <i class="icon-directions"></i>
              </div>
              <div class="h4 mb-0">{{ semestersTable.total }}</div>
              <small class="text-muted text-uppercase font-weight-bold">Semesters</small>
              <div class="progress-xs mt-3 mb-0 progress">
                <div
                  role="progressbar"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-valuenow="25"
                  class="progress-bar bg-info"
                  style="width: 25%;"
                >
                  <!---->
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="h1 text-muted text-right mb-4">
                <i class="icon-notebook"></i>
              </div>
              <div class="h4 mb-0">{{ coursesTable.total }}</div>
              <small class="text-muted text-uppercase font-weight-bold">Courses</small>
              <div class="progress-xs mt-3 mb-0 progress">
                <div
                  role="progressbar"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-valuenow="25"
                  class="progress-bar bg-success"
                  style="width: 25%;"
                >
                  <!---->
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="h1 text-muted text-right mb-4">
                <i class="icon-map"></i>
              </div>
              <div class="h4 mb-0">{{ sectionsTable.total }}</div>
              <small class="text-muted text-uppercase font-weight-bold">Sections</small>
              <div class="progress-xs mt-3 mb-0 progress">
                <div
                  role="progressbar"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-valuenow="25"
                  class="progress-bar bg-warning"
                  style="width: 25%;"
                >
                  <!---->
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="h1 text-muted text-right mb-4">
                <i class="icon-user"></i>
              </div>
              <div class="h4 mb-0">288</div>
              <small class="text-muted text-uppercase font-weight-bold">Male</small>
              <div class="progress-xs mt-3 mb-0 progress">
                <div
                  role="progressbar"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-valuenow="25"
                  class="progress-bar"
                  style="width: 25%;"
                >
                  <!---->
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="h1 text-muted text-right mb-4">
                <i class="icon-user-female"></i>
              </div>
              <div class="h4 mb-0">150</div>
              <small class="text-muted text-uppercase font-weight-bold">Female</small>
              <div class="progress-xs mt-3 mb-0 progress">
                <div
                  role="progressbar"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-valuenow="25"
                  class="progress-bar bg-danger"
                  style="width: 25%;"
                >
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <header class="card-header">
                <div>
                  <i class="fa fa-align-justify"></i>
                  <strong> BOOTFI SCHOOL</strong>
                  <div class="card-header-actions">
                    <a
                      href="https://bootstrap-vue.js.org/docs/components/carousel"
                      rel="noreferrer noopener"
                      target="_blank"
                      class="card-header-action"
                    >
                      <small class="text-muted">more</small>
                    </a>
                  </div>
                </div>
              </header>
              <div class="card-body">
                <div>
                  <div
                    role="region"
                    id="carousel1"
                    aria-busy="true"
                    class="carousel slide"
                    style="background: rgb(171, 171, 171); text-shadow: rgb(51, 51, 51) 1px 1px 2px;"
                  >
                    <div id="carousel1___BV_inner_" role="list" class="carousel-inner">
                      <div
                        id="__BVID__240"
                        role="listitem"
                        class="carousel-item carousel-item-next carousel-item-left"
                        aria-current="false"
                        aria-posinset="5"
                        aria-setsize="5"
                        tabindex="-1"
                        aria-hidden="true"
                      >
                        <img
                          src="../../public/img/Bootfi School.jpg"
                          alt="Blank image"
                          width="1024"
                          height="480"
                          class="img-fluid w-100 d-block"
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div data-v-715a1058 class="col-md-12">
            <div data-v-715a1058 class="card">
              <div data-v-715a1058 class="card-header">
                <div data-v-715a1058>
                  <i class="fa fa-align-justify"></i>
                  <strong> Contact Us</strong>
                </div>
              </div>
              <div data-v-715a1058 class="card-body">
                <form data-v-715a1058 class>
                  <div
                    data-v-715a1058
                    id="__BVID__627"
                    role="group"
                    aria-labelledby="__BVID__627__BV_label_"
                    class="b-form-group form-group"
                  >
                    <div class="form-row">
                      <label
                        id="__BVID__627__BV_label_"
                        for="basicName"
                        class="col-sm-3 col-form-label"
                      >Enter your name</label>
                      <div class="col-sm-9">
                        <input
                          data-v-715a1058
                          id="basicName"
                          type="text"
                          autocomplete="name"
                          class="form-control"
                          aria-describedby="__BVID__627__BV_description_"
                        >
                        <!---->
                        <!---->
                        <small
                          id="__BVID__627__BV_description_"
                          class="form-text text-muted"
                        >Let us know your full name.</small>
                      </div>
                    </div>
                  </div>

                  <div
                    data-v-715a1058
                    id="__BVID__629"
                    role="group"
                    aria-labelledby="__BVID__629__BV_label_"
                    class="b-form-group form-group"
                  >
                    <div class="form-row">
                      <label
                        id="__BVID__629__BV_label_"
                        for="basicStatic"
                        class="col-sm-3 col-form-label"
                      >Static</label>
                      <div class="col-sm-9">
                        <input
                          data-v-715a1058
                          id="basicStatic"
                          type="text"
                          readonly="readonly"
                          value="Username"
                          class="form-control-plaintext"
                        >
                        <!---->
                        <!---->
                        <!---->
                      </div>
                    </div>
                  </div>

                  <div
                    data-v-715a1058
                    id="__BVID__631"
                    role="group"
                    aria-labelledby="__BVID__631__BV_label_"
                    class="b-form-group form-group"
                  >
                    <div class="form-row">
                      <label
                        id="__BVID__631__BV_label_"
                        for="basicText"
                        class="col-sm-3 col-form-label"
                      >Text Input</label>
                      <div class="col-sm-9">
                        <input
                          data-v-715a1058
                          id="basicText"
                          type="text"
                          placeholder="Text"
                          class="form-control"
                          aria-describedby="__BVID__631__BV_description_"
                        >
                        <!---->
                        <!---->
                        <small
                          id="__BVID__631__BV_description_"
                          class="form-text text-muted"
                        >This is a help text</small>
                      </div>
                    </div>
                  </div>

                  <div
                    data-v-715a1058
                    id="__BVID__633"
                    role="group"
                    aria-labelledby="__BVID__633__BV_label_"
                    class="b-form-group form-group"
                  >
                    <div class="form-row">
                      <label
                        id="__BVID__633__BV_label_"
                        for="date"
                        class="col-sm-3 col-form-label"
                      >Date</label>
                      <div class="col-sm-9">
                        <input data-v-715a1058 id="date" type="date" class="form-control">
                        <!---->
                        <!---->
                        <!---->
                      </div>
                    </div>
                  </div>

                  <div
                    data-v-715a1058
                    id="__BVID__635"
                    role="group"
                    aria-labelledby="__BVID__635__BV_label_"
                    class="b-form-group form-group"
                  >
                    <div class="form-row">
                      <label
                        id="__BVID__635__BV_label_"
                        for="basicEmail"
                        class="col-sm-3 col-form-label"
                      >Email Input</label>
                      <div class="col-sm-9">
                        <input
                          data-v-715a1058
                          id="basicEmail"
                          type="email"
                          placeholder="Enter your email"
                          autocomplete="email"
                          class="form-control"
                          aria-describedby="__BVID__635__BV_description_"
                        >
                        <small
                          id="__BVID__635__BV_description_"
                          class="form-text text-muted"
                        >Please enter your email</small>
                      </div>
                    </div>
                  </div>

                  <div
                    data-v-715a1058
                    id="__BVID__637"
                    role="group"
                    aria-labelledby="__BVID__637__BV_label_"
                    class="b-form-group form-group"
                  >
                    <div class="form-row">
                      <label
                        id="__BVID__637__BV_label_"
                        for="basicPassword"
                        class="col-sm-3 col-form-label"
                      >Password Input</label>
                      <div class="col-sm-9">
                        <input
                          data-v-715a1058
                          id="basicPassword"
                          type="password"
                          placeholder="Enter your password"
                          autocomplete="current-password"
                          class="form-control"
                          aria-describedby="__BVID__637__BV_description_"
                        >
                        <small
                          id="__BVID__637__BV_description_"
                          class="form-text text-muted"
                        >Please enter a complex password</small>
                      </div>
                    </div>
                  </div>

                  <div data-v-715a1058 slot="footer">
                    <button data-v-715a1058 type="submit" class="btn btn-primary btn-sm">
                      <i data-v-715a1058 class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    <button data-v-715a1058 type="reset" class="btn btn-danger btn-sm">
                      <i data-v-715a1058 class="fa fa-ban"></i> Reset
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
       filters: {
      },
    };
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      teachersTable: state => state.teachers.teachers,
      guardiansTable: state => state.guardians.guardians,
      studentsTable: state => state.students.students,
      gradesTable: state => state.grades.grades,
      semestersTable: state => state.semesters.semesters,
      coursesTable: state => state.courses.courses,
      sectionsTable: state => state.sections.sections
    }),
  },

  methods: {
    ...mapActions(["getTeachers","getGuardians","getStudents","getGrades","getSemesters","getCourses","getSections"]),

    filterItems() {
      this.filters.token = this.loginUser.token
      this.getTeachers(this.filters)
      this.getGuardians(this.filters)
      this.getStudents(this.filters)
      this.getGrades(this.filters)
      this.getSemesters(this.filters)
      this.getCourses(this.filters)
      this.getSections(this.filters)
    }
  },

  created() {
    this.filterItems();
  }

};
</script>

<style>
.background-header {
  background: #ffffff;
}
</style>
