<template>
    <div>
        <b-breadcrumb>
            <li class="breadcrumb-item">
                <router-link to="/"><i class="fa fa-home"></i> Home</router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/admins"> Admins</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Add Edit Admin</li>
        </b-breadcrumb>
        
        <b-container>
            <b-card class="mt-3" header="Add Edit Admin">
                <b-form>
                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-user-circle pb-2"></i> | Name :
                            <b-form-input
                                type="text"
                                placeholder="Enter Your Name">
                            </b-form-input>
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-user-secret pb-2"></i> | Parent :
                            <b-form-input
                                type="text"
                                placeholder="Enter Your Name">
                            </b-form-input>
                        </b-col>
                    </b-row>

                    <b-row class="pt-2">
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-vcard pb-2"></i> | Username :
                            <b-form-input
                                type="email"
                                placeholder="Enter Your Email">
                            </b-form-input>
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-image pb-2"></i> | Picture :
                            <b-form-input
                                type="text"
                                placeholder="Enter Your Address">
                            </b-form-input>
                        </b-col>
                    </b-row>

                    <b-row class="pt-2">
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-birthday-cake pb-2"></i> | Birthdate :
                            <b-form-input
                                type="number"
                                placeholder="Enter Your Birthdate">
                            </b-form-input>
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-map-pin pb-2"></i> | Address :
                            <b-form-input
                                type="text"
                                placeholder="Enter Your Address">
                            </b-form-input>
                        </b-col>
                    </b-row>

                    <b-row class="pt-2">
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-star pb-2"></i> | Grade :
                            <b-form-input
                                type="text"
                                placeholder="Enter Your Grade">
                            </b-form-input>
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-stethoscope pb-2"></i> | Health Info :
                            <b-form-input
                                type="number"
                                placeholder="Enter Your Health Info">
                            </b-form-input>
                        </b-col>
                    </b-row>
                </b-form>
                <br>
                <b-button type="submit" variant="primary">Save</b-button>
                <router-link class="ml-2" to="/admins" tag="b-button">
                    <i class="back-icon fa fa-reply-all"></i> | Back To List
                </router-link>
            </b-card>
        </b-container>
    </div>
</template>

<script>
export default {
    name:"GuardianAddEdit",
    data() {
        return {
            
        }
    },
}
</script>

<style scoped>
</style>
