<template>
    <div>
        <b-breadcrumb>
            <li class="breadcrumb-item">
                <router-link to="/"><i class="fa fa-home"></i> Home</router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/admins">Admins</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Show</li>
        </b-breadcrumb>

        <b-container>
            <b-card-group deck>
                <b-card
                header="Student Details">
                <b-card-text>
                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-user-circle"></i> | Name :
                            <hr />
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-user-secret"></i> | Parent :
                            <hr />
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-vcard"></i> | Username :
                            <hr />
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-image"></i> | Picture :
                            <hr />
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-birthday-cake"></i> | Birthdate :
                            <hr />
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-map-pin"></i> | Address :
                            <hr />
                        </b-col>
                    </b-row>
                    
                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-star"></i> | Grade :
                            <hr />
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-stethoscope"></i> | Health Info :
                            <hr />
                        </b-col>
                    </b-row>
                </b-card-text>
                <router-link to="/admins" tag="b-button">
                    <i class="back-icon fa fa-reply-all"></i> | Back To List
                </router-link>
                </b-card>
            </b-card-group>
        </b-container>
    </div>
</template>

<script>
export default {
    name:"GuardianShow",
    data() {
        return {
            
        }
    },
}
</script>

<style>

</style>
