<template>
  <div>
    <b-breadcrumb>
      <li class="breadcrumb-item">
        <router-link to="/">
          <i class="fa fa-home"></i> Home
        </router-link>
      </li>
      <li class="breadcrumb-item">
        <router-link to="/gradeTemplates">Grade Templates</router-link>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Edit Grade Template</li>
    </b-breadcrumb>

    <b-container>
      <b-card class="mt-3" header="Add Edit Grade Templates">
        <b-form @submit.prevent="onSubmit">
          <b-row>
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-user-circle pb-2"></i> | Name :
              <b-form-input
                name="name"
                type="text"
                class="form-control"
                id="name"
                v-model="user.name"
                :class="{'input': true, 'is-danger': errors.has('name') }"
                v-validate="'required|min:4'"
                placeholder="Please Enter Your Name"
              ></b-form-input>
              <span v-show="errors.has('name')" class="is-danger">{{ errors.first('name') }}</span>
            </b-col>
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-image pb-2"></i> | Picture :
              <b-form-file
                name="picture"
                type="file"
                ref="picture1"
                accept="jpg"
                class="form-control"
                id="picture"
                @change="onFileSelected()"
                :class="{'input': true, 'is-danger': errors.has('picture') }"
              ></b-form-file>
              <span v-show="errors.has('picture')" class="is-danger">{{ errors.first('picture') }}</span>
            </b-col>
          </b-row>

          <br>
          <b-button type="submit" variant="primary">Save</b-button>
          <router-link class="btn btn-secondary ml-2" to="/gradeTemplates">
            <i class="back-icon fa fa-reply-all"></i> | Back To List
          </router-link>
        </b-form>
      </b-card>
    </b-container>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "GradeTemplateAddEdit",
  data() {
    return {
      user: {
        name: "",
        picture: null
      },

      old_gradeTemplate: {},
      ShowInAdd: false,
      confirm: false
    };
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      gradeTemplateDetails: state => state.gradeTemplates.gradeTemplateDetails
    })
  },

  methods: {
    onFileSelected() {
      this.user.picture = this.$refs.picture1.$refs.input.files[0];
    },

    onSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          let user = new FormData();

          if (_.endsWith(this.$route.path, "add")) {
            user.append("name", this.user.name);
            user.append("picture", this.user.picture);

            let info = {
              user,
              token: this.loginUser.token
            };
            this.$store.dispatch("addGradeTemplate", info);
          } else {
            this.old_gradeTemplate.name == this.user.name ? "" : user.append("name", this.user.name);
            this.old_gradeTemplate.picture == this.user.picture ? "" : user.append("picture", this.user.picture);

            let info = {
              user,
              id: this.gradeTemplateDetails.id,
              token: this.loginUser.token
            };
            this.$store.dispatch("editGradeTemplate", info);
          }
        }
      });
    },

    showUser(id) {
      let gradeTemplate = {
        id,
        token: this.loginUser.token
      };
      this.$store.dispatch("getGradeTemplateDetails", gradeTemplate);
    }
  },

  watch: {
    $route() {
      this.showUser(this.$route.params.id);
    },

    gradeTemplateDetails() {
      this.user.name = this.gradeTemplateDetails.name;
      this.user.picture = this.gradeTemplateDetails.picture;

      this.old_gradeTemplate = this.gradeTemplateDetails;
    }
  },
  
  created() {
    if (_.endsWith(this.$route.path, "edit")) {
      this.showUser(this.$route.params.id);
    } else {
      this.ShowInAdd = true;
    }
  }
};
</script>

<style>
.main-icon {
  color: #20bbea !important;
}

.back-icon {
  color: #ffffff !important;
}
</style>
