<template>
    <div>
        <b-breadcrumb>
            <li class="breadcrumb-item">
                <router-link to="/"><i class="fa fa-home"></i> Home</router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/courseDetails"> Course Detailses</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Add Edit Course Details</li>
        </b-breadcrumb>
        
        <b-container>
            <b-card class="mt-3" header="Add Edit Course Details">
                <b-form @submit.prevent="onSubmit">
                    <b-row>
                      <b-col md="6" sm="12">
                            <i class="main-icon fa fa-clone pb-2"></i> | Course : 
                            <b-form-select v-model="user.course_id">
                              <option v-for="course in coursesTable.courses" :key="course.id" :value="course.id">{{ course.name }}</option>
                            </b-form-select>
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-clone pb-2"></i> | Grade : 
                            <b-form-select v-model="user.grade_id">
                              <option v-for="grade in gradesTable.grades" :key="grade.id" :value="grade.id">{{ grade.name }}</option>
                            </b-form-select>
                        </b-col>
                    </b-row>
                    
                    <b-row>
                      <b-col md="6" sm="12">
                            <i class="main-icon fa fa-clone pb-2"></i> | Section : 
                            <b-form-select v-model="user.section_id">
                              <option v-for="section in sectionsTable.sections" :key="section.id" :value="section.id">{{ section.name }}</option>
                            </b-form-select>
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-clone pb-2"></i> | Teacher : 
                            <b-form-select v-model="user.teacher_id">
                              <option v-for="teacher in teachersTable.teachers" :key="teacher.id" :value="teacher.id">{{ teacher.name }}</option>
                            </b-form-select>
                        </b-col>
                    </b-row>

                    <b-row>
                      <b-col md="6" sm="12">
                            <i class="main-icon fa fa-clone pb-2"></i> | Schedule : 
                            <b-form-select v-model="user.schedule_id">
                              <option v-for="schedule in schedulesTable.schedules" :key="schedule.id" :value="schedule.id">{{ schedule.name }}</option>
                            </b-form-select>
                        </b-col>
                    </b-row>
                    
                    <br>
                    <b-button type="submit" variant="primary">Save</b-button>
                    <router-link class="btn btn-secondary ml-2" to="/courseDetails">
                        <i class="back-icon fa fa-reply-all"></i> | Back To List
                    </router-link>
                </b-form>
                
            </b-card>
        </b-container>
    </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name:"CourseTemplateAddEdit",
  data() {
    return {
      user: {
        course_id: "",
        grade_id: "",
        section_id: "",
        teacher_id: "",
        schedule_id: "",
      },

      old_courseDetails: {},
      ShowInAdd:false,
      confirm: false
    };
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      coursesTable: state => state.courses.courses,
      sectionsTable: state => state.sections.sections,
      teachersTable: state => state.teachers.teachers,
      schedulesTable: state => state.schedules.schedules
    })
  },

  methods: {
    onSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          let user = new FormData();

          if (_.endsWith(this.$route.path, "add")) {
            user.append("course_id", this.user.course_id);
            user.append("grade_id", this.user.grade_id);
            user.append("section_id", this.user.section_id);
            user.append("teacher_id", this.user.teacher_id);
            user.append("schedule_id", this.user.schedule_id);
            
            let info = {
              user,
              token: this.loginUser.token
            };
            this.$store.dispatch("addCourseDetails", info);
          } else {

            this.old_courseDetails.course_id == this.user.course_id ? "" : user.append("course_id", this.user.course_id);
            this.old_courseDetails.grade_id == this.user.grade_id ? "" : user.append("grade_id", this.user.grade_id);
            this.old_courseDetails.section_id == this.user.section_id ? "" : user.append("section_id", this.user.section_id);
            this.old_courseDetails.teacher_id == this.user.teacher_id ? "" : user.append("teacher_id", this.user.teacher_id);
            this.old_courseDetails.schedule_id == this.user.schedule_id ? "" : user.append("schedule_id", this.user.schedule_id);
            
            let info = {
              user,
              id: this.courseDetails.id,
              token: this.loginUser.token
            };            
            this.$store.dispatch("editCourseDetails", info);
          }
        }
      });
    },

    showUser(id) {
      let courseDetails = {
        id,
        token: this.loginUser.token
      };
      this.$store.dispatch("getCourseDetails", courseDetails);
    }
  },

  watch: {
    $route() {
      this.showUser(this.$route.params.id);
    },

    courseDetails() {
      this.user.course_id = this.courseDetails.course_id;
      this.user.grade_id = this.courseDetails.grade_id;
      this.user.section_id = this.courseDetails.section_id;
      this.user.teacher_id = this.courseDetails.teacher_id;
      this.user.schedule_id = this.courseDetails.schedule_id;

      this.old_courseDetails = this.courseDetails;
    }
  },
  
  created() {
    if (_.endsWith(this.$route.path, "edit")) {
      this.showUser(this.$route.params.id);
    } else {
      this.ShowInAdd = true
    };

    this.getCourses();
    this.getGrades();
    this.getSections();
    this.getTeachers();
    this.getSchedules();
  }
};
</script>

<style>
    .main-icon {
        color: #20bbea !important;
    }

    .back-icon {
        color: #ffffff !important;
    }
</style>
