<template>
  <div>
    <b-breadcrumb>
      <li class="breadcrumb-item">
        <router-link to="/">
          <i class="fa fa-home"></i> Home
        </router-link>
      </li>
      <li class="breadcrumb-item">
        <router-link to="/courseDetailses">Courses Details</router-link>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Show</li>
    </b-breadcrumb>

    <b-container>
      <b-card-group deck>
        <b-card header="Course Details">
          <b-card-text>
            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-user-circle"></i>
                | Course : {{ courses.name }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-user-circle"></i>
                | Grade : {{ grades.name }}
                <hr>
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-user-circle"></i>
                | Section : {{ sections.name }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-user-circle"></i>
                | Teacher : {{ teachers.name }}
                <hr>
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-user-circle"></i>
                | Schedule : {{ Schedules.name }}
                <hr>
              </b-col>
            </b-row>

          </b-card-text>
          <router-link to="/courseDetailses" class="btn btn-secondary">
            <i class="back-icon fa fa-reply-all"></i> | Back To List
          </router-link>
        </b-card>
      </b-card-group>
    </b-container>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "CourseDetailsShow",
  data() {
    return {};
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      courses: state => state.courses.courses,
      grades: state => state.grades.grades,
      sections: state => state.sections.sections,
      teachers: state => state.teachers.teachers,
      schedules: state => state.schedules.schedules
    })
  },

  watch: {
    $route() {
      this.show(this.$route.params.id);
    }
  },

  methods: {
    ...mapActions(["getCourseDetails"]),

    show(id) {
      let courseDetails = {
        id,
        token: this.loginUser.token
      };
      this.getCoursesDetails(courseDetails);
    }
  },
  
  created() {
    this.show(this.$route.params.id);
  }
};
</script>

<style>
</style>
