<template>
  <div>
    <b-breadcrumb>
      <li class="breadcrumb-item">
        <router-link to="/">
          <i class="fa fa-home"></i> Home
        </router-link>
      </li>
      <li class="breadcrumb-item">
        <router-link to="/students">Students</router-link>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Edit Student</li>
    </b-breadcrumb>

    <b-container>
      <b-card class="mt-3" header="Add Edit student">
        <b-form @submit.prevent="onSubmit">
          <b-row>
            <b-col md="6" sm="12">
              <b-form-group v-if="ShowInAdd">
                <input type="checkbox" v-on:click="showOnClick = true"> Click Here To Add Record Number Manually
              </b-form-group>
            </b-col>

            <b-col v-if="showOnClick"  v-show="ShowInAdd" md="6" sm="12">
              <i class="main-icon fa fa-user-circle pb-2"></i> | <strong>Record ID : </strong>
              <b-form-input
                name="record"
                type="number"
                class="form-control"
                id="record"
                v-model="user.record_id"
                :class="{'input': true, 'is-danger': errors.has('record') }"
                placeholder="Please Enter Your Record Number"
              ></b-form-input>
              <span v-show="errors.has('record')" class="is-danger">{{ errors.first('record') }}</span>
            </b-col>
          </b-row>

          <b-row>
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-user-circle pb-2"></i> | <strong>Name : </strong>
              <b-form-input
                name="name"
                type="text"
                class="form-control"
                id="name"
                v-model="user.name"
                :class="{'input': true, 'is-danger': errors.has('name') }"
                v-validate="'required|min:20'"
                placeholder="Please Enter Your Name"
              ></b-form-input>
              <span v-show="errors.has('name')" class="is-danger">{{ errors.first('name') }}</span>
            </b-col>
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-vcard pb-2"></i> | <strong>Username : </strong>
              <b-form-input
                name="username"
                type="text"
                class="form-control"
                id="username"
                v-model="user.username"
                :class="{'input': true, 'is-danger': errors.has('username') }"
                v-validate="'required|min:5'"
                placeholder="Please Enter Your Username"
              ></b-form-input>
              <span v-show="errors.has('username')" class="is-danger">{{ errors.first('username') }}</span>
            </b-col>
          </b-row>

          <b-row class="pt-2">
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-at pb-2"></i> | <strong>Email : </strong>
              <b-form-input
                name="email"
                type="text"
                class="form-control"
                id="email"
                v-model="user.email"
                placeholder="Please Enter Your Email"
              ></b-form-input>
              <span v-show="errors.has('email')" class="is-danger">{{ errors.first('email') }}</span>
            </b-col>
            
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-vcard pb-2"></i> | <strong>Parent : </strong>
                <b-form-select v-model="user.guardian_id">
                  <option v-for="guardian in guardiansTable.guardians" :key="guardian.id" :value="guardian.id">{{ guardian.user.name }} </option>
                </b-form-select>
            </b-col>
          </b-row>

          <b-row class="pt-2">
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-birthday-cake pb-2"></i> | <strong>Birthdate : </strong>
              <b-form-input
                name="birthdate"
                type="date"
                class="form-control"
                id="birthdate"
                v-model="user.birthdate"
                :class="{'input': true, 'is-danger': errors.has('birthdate') }"
                v-validate="'required'"
                placeholder="Please Enter Your Birthdate"
              ></b-form-input>
              <span
                v-show="errors.has('birthdate')"
                class="is-danger"
              >{{ errors.first('birthdate') }}</span>
            </b-col>
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-image pb-2"></i> | <strong>Picture : </strong>
              <b-form-file
                name="picture"
                type="file"
                ref="picture1"
                accept="jpg"
                class="form-control"
                id="picture"
                @change="onFileSelected()"
                :class="{'input': true, 'is-danger': errors.has('picture') }"
              ></b-form-file>
              <span v-show="errors.has('picture')" class="is-danger">{{ errors.first('picture') }}</span>
            </b-col>
          </b-row>

          <b-row class="pt-2">
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-clone pb-2"></i> | <strong>Grade : </strong>
              <b-form-select v-model="user.grade_id">
                <option
                  v-for="grade in gradesTable.grades"
                  :key="grade.id"
                  :value="grade.id"
                >{{ grade.name }}</option>
              </b-form-select>
            </b-col>
            
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-map-pin pb-2"></i> | <strong>Address : </strong>
              <b-form-input
                name="address"
                type="text"
                class="form-control"
                id="address"
                v-model="user.address"
                :class="{'input': true, 'is-danger': errors.has('address') }"
                v-validate="'required'"
                placeholder="Please Enter Your Address"
              ></b-form-input>
              <span v-show="errors.has('address')" class="is-danger">{{ errors.first('address') }}</span>
            </b-col>
          </b-row>

          <b-row class="pt-2">
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-stethoscope pb-2"></i> | <strong>Health Info : </strong>
              <b-form-input
                name="health_info"
                type="text"
                class="form-control"
                id="health_info"
                v-model="user.health_info"
                :class="{'input': true, 'is-danger': errors.has('health_info') }"
                v-validate="'required'"
                placeholder="Please Enter Your Health Info"
              ></b-form-input>
              <span
                v-show="errors.has('health_info')"
                class="is-danger"
              >{{ errors.first('health_info') }}</span>
            </b-col>
            <b-col md="6" sm="12">
              <i class="main-icon fa fa-star pb-2"></i> | <strong>Grade : </strong>
              <b-form-input
                name="grade"
                type="text"
                class="form-control"
                id="grade"
                v-model="user.grade"
                placeholder="Please Enter Your Grade"
              ></b-form-input>
            </b-col>
          </b-row>

          <b-row class="pt-2">
            <b-col v-if="ShowInAdd" md="6" sm="12">
              <i class="main-icon fa fa-credit-card pb-2"></i> | <strong>Password : </strong>
              <b-form-input
                name="password"
                type="password"
                class="form-control"
                id="password"
                v-model="user.password"
                :class="{'input': true, 'is-danger': errors.has('password') }"
                v-validate="'required|min:6'"
                placeholder="Enter Your ID Card"
              ></b-form-input>
              <span v-show="errors.has('password')" class="is-danger">{{ errors.first('password') }}</span>
            </b-col>

            <b-col v-if="ShowInAdd" md="6" sm="12">
              <i class="main-icon fa fa-credit-card pb-2"></i> | <strong>Confirm Password : </strong>
              <b-form-input
                name="password_confirmation"
                type="password"
                class="form-control"
                id="password_confirmation"
                v-model="user.password_confirmation"
                :class="{'input': true, 'is-danger': errors.has('password_confirmation') }"
                v-validate="'required|min:6'"
                placeholder="Enter Your confirm_password"
              ></b-form-input>
              <span
                v-show="errors.has('password_confirmation')"
                class="is-danger"
              >{{ errors.first('password_confirmation') }}</span>
            </b-col>
          </b-row>

          <br>
          <b-button type="submit" variant="primary">Save</b-button>
          <router-link class="btn btn-secondary ml-2" to="/students">
            <i class="back-icon fa fa-reply-all"></i> | Back To List
          </router-link>
        </b-form>
      </b-card>
    </b-container>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "StudentAddEdit",
  data() {
    return {
      user: {
        name: "",
        username: "",
        email: "",
        address: "",
        birthdate: "",
        password: "",
        password_confirmation: "",
        record_id: "",

        picture: null,
        grade_id: "",
        grade: "",
        health_info: "",
        guardian_id: ""
      },

      old_student: {},
      ShowInAdd: false,
      confirm: false,
      selectedFile: null,
      showOnClick: false
    };
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      studentDetails: state => state.students.studentDetails,
      gradesTable: state => state.grades.grades,
      guardiansTable: state => state.guardians.guardians,
    })
  },

  methods: {
    ...mapActions(["addStudent", "editStudent", "getStudentDetails","getGrades","getGuardians"]),

    onFileSelected() {
      this.user.picture = this.$refs.picture1.$refs.input.files[0];
    },

    onSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          let user = new FormData();

          if (_.endsWith(this.$route.path, "add")) {
            user.append("name", this.user.name);
            user.append("username", this.user.username);
            user.append("email", this.user.email);
            user.append("address", this.user.address);
            user.append("birthdate", this.user.birthdate);
            user.append("password", this.user.password);
            user.append("password_confirmation", this.user.password_confirmation);
            user.append("record_id", this.user.record_id);

            user.append("avatar", this.user.picture);
            user.append("guardian_id", this.user.guardian_id);
            user.append("health_info", this.user.health_info);
            user.append("grade", this.user.grade);
            user.append("grade_id", this.user.grade_id);

            let info = {
              user,
              token: this.loginUser.token
            };
            this.addStudent(info);
          } else {
            this.old_student.user.name == this.user.name ? "" : user.append("name", this.user.name);
            this.old_student.user.username == this.user.username ? "" : user.append("username", this.user.username);
            this.old_student.user.email == this.user.email ? "" : user.append("email", this.user.email);
            this.old_student.user.address == this.user.address ? "" : user.append("address", this.user.address);
            this.old_student.user.birthdate == this.user.birthdate ? "" : user.append("birthdate", this.user.birthdate);
            //this.old_student.user.password == this.user.password ? "" : user.append("password", this.user.password);
            //this.old_student.user.password_confirmation == this.user.password_confirmation ? "" : user.append("password_confirmation", this.user.password_confirmation);
            //this.old_student.user.record_id == this.user.record_id ? "" : user.append("record_id", this.user.record_id);

            this.old_student.picture == this.user.picture ? "" : user.append("avatar", this.selectedFile, this.user.selectedFile.name);
            this.old_student.parent.name == this.user.guardian_id.name ? "" : user.append("guardian_id", this.user.guardian_id);
            this.old_student.health_info == this.user.health_info ? "" : user.append("health_info", this.user.health_info);
            this.old_student.grade == this.user.grade ? "" : user.append("grade", this.user.grade);
            this.old_student.user.grade_id == this.user.grade_id ? "" : user.append("grade_id", this.user.grade_id);

            let info = {
              user,
              id: this.studentDetails.id,
              token: this.loginUser.token
            };
            this.editStudent(info);
          }
        }
      });
    },

    showUser(id) {
      let student = {
        id,
        token: this.loginUser.token
      };
      this.getStudentDetails(student);
    },

    displayGrades() {
        let payload={
            token: this.loginUser.token
        }
    this.getGrades(payload);
    },

    displayGuardians() {
        let payload={
            token: this.loginUser.token
        }
    this.getGuardians(payload);
    },
  },

  watch: {
    $route() {
      this.showUser(this.$route.params.id);
    },
    
    studentDetails() {
      this.user.name = this.studentDetails.user.name;
      this.user.email = this.studentDetails.user.email;
      this.user.username = this.studentDetails.user.username;
      this.user.address = this.studentDetails.user.address;
      this.user.birthdate = this.studentDetails.user.birthdate;
      this.user.password = this.studentDetails.user.password;
      this.user.password_confirmation = this.studentDetails.user.password_confirmation;
      this.user.record_id = this.studentDetails.user.record_id;

      this.user.guardian_id = this.studentDetails.parent.id;
      this.user.picture = this.studentDetails.picture;
      this.user.grade = this.studentDetails.grade;
      this.user.grade_id = this.studentDetails.student_in_grade.grade.id;
      this.user.health_info = this.studentDetails.health_info;

      this.old_student = this.studentDetails;
    }
  },

  created() {
    if (_.endsWith(this.$route.path, "edit")) {
      this.showUser(this.$route.params.id);
    } else {
      this.ShowInAdd = true;
    }

    this.displayGrades();
    this.displayGuardians();
  }
};
</script>

<style scoped>
</style>
