<template>
  <div>
    <b-breadcrumb>
      <li class="breadcrumb-item">
        <router-link to="/">
          <i class="fa fa-home"></i> Home
        </router-link>
      </li>
      <li class="breadcrumb-item">
        <router-link to="/students">Students</router-link>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Show</li>
    </b-breadcrumb>

    <b-container>
      <b-card-group deck>
        <b-card header="Student Details">
          <b-card-text>
            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-user-circle"></i>
                | <strong>Name : </strong> {{ studentDetails.user.name }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-user-secret"></i>
                | <strong>Parent : </strong> {{ studentDetails.parent.user.name }}
                <hr>
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-vcard"></i>
                | <strong>Username : </strong> {{ studentDetails.user.username }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-image"></i>
                | <strong>Picture : </strong>
                <b-img
                  thumbnail
                  fluid
                  style="width:150px; height:150px"
                  :src="studentDetails.parent.picture"
                  alt="No Image"
                  title
                ></b-img>
                <hr>
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-birthday-cake"></i>
                | <strong>Birthdate : </strong> {{ studentDetails.user.birthdate }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-map-pin"></i>
                | <strong>Address : </strong> {{ studentDetails.user.address }}
                <hr>
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-star"></i>
                | <strong>Grade : </strong> {{ studentDetails.grade }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-stethoscope"></i>
                | <strong>Health Info: </strong> {{ studentDetails.health_info }}
                <hr>
              </b-col>
            </b-row>
          </b-card-text>
          <router-link to="/students" class="btn btn-secondary">
            <i class="back-icon fa fa-reply-all"></i> | Back To List
          </router-link>
        </b-card>
      </b-card-group>
    </b-container>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "StudentShow",
  data() {
    return {};
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      studentDetails: state => state.students.studentDetails
    })
  },

  watch: {
    //...mapActions(["getStudentDetails"]),

    $route() {
      this.show(this.$route.params.id);
    }
  },

  methods: {
    ...mapActions(["getStudentDetails"]),

    show(id) {
      let student = {
        id,
        token: this.loginUser.token
      };
      this.getStudentDetails(student);
    }
  },
  
  created() {
    this.show(this.$route.params.id);
  }
};
</script>

<style>
</style>
