<template>
    <div>
        <b-breadcrumb>
            <li class="breadcrumb-item">
                <router-link to="/"><i class="fa fa-home"></i> Home</router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/years"> Years</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Add Edit Year</li>
        </b-breadcrumb>
        
        <b-container>
            <b-card class="mt-3" header="Add Edit Year">
                <b-form @submit.prevent="onSubmit">
                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-user-circle pb-2"></i> | Name : 
                            <b-form-input
                                name="name"
                                type="text"
                                class="form-control"
                                id="name"
                                v-model="user.name"
                                :class="{'input': true, 'is-danger': errors.has('name') }"
                                v-validate="'required|min:9'"
                                placeholder="Please Enter Your Name">
                            </b-form-input>
                            <span v-show="errors.has('name')" class="is-danger">{{ errors.first('name') }}</span>
                        </b-col>

                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-calendar-plus-o pb-2"></i> | Start Date : 
                            <b-form-input
                                name="start_date"
                                type="date"
                                class="form-control"
                                id="start_date"
                                v-model="user.start_date"
                                :class="{'input': true, 'is-danger': errors.has('start_date') }"
                                v-validate="'required'"
                                placeholder="Please Enter Your Start Date">
                            </b-form-input>
                            <span v-show="errors.has('start_date')" class="is-danger">{{ errors.first('start_date') }}</span>
                        </b-col>
                    </b-row>

                    <b-row class="pt-2">
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-calendar-times-o pb-2"></i> | End Date : 
                            <b-form-input
                                name="end_date"
                                type="date"
                                class="form-control"
                                id="end_date"
                                v-model="user.end_date"
                                :class="{'input': true, 'is-danger': errors.has('end_date') }"
                                v-validate="'required'"
                                placeholder="Please Enter Your End Date">
                            </b-form-input>
                            <span v-show="errors.has('end_date')" class="is-danger">{{ errors.first('end_date') }}</span>
                        </b-col>
                    </b-row>

                    <br>
                    <b-button type="submit" variant="primary">Save</b-button>
                    <router-link class="btn btn-secondary ml-2" to="/years">
                        <i class="back-icon fa fa-reply-all"></i> | Back To List
                    </router-link>
                </b-form>
                
            </b-card>
        </b-container>
    </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
    name:"YearAddEdit",
  data() {
    return {
      user: {
        name: "",
        start_date: "",
        end_date: ""
      },

      old_year: {},
      ShowInAdd:false,
      confirm: false
    };
  },

  computed: {
      ...mapState({
            loginUser: state => state.login.loginUser,
            yearDetails: state => state.years.yearDetails
          })
  },

  methods: {
    ...mapActions(["addYear","editYear","getYearDetails"]),

    onSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          let user = new FormData();

          if (_.endsWith(this.$route.path, "add")) {
            user.append("name", this.user.name);
            user.append("start_date", this.user.start_date);
            user.append("end_date", this.user.end_date);
            
            let info = {
              user,
              token: this.loginUser.token
            };
            this.addYear(info);
          } else {

            this.old_year.name == this.user.name ? "" : user.append("name", this.user.name);
            this.old_year.start_date == this.user.start_date ? "" : user.append("start_date", this.user.start_date);
            this.old_year.end_date == this.user.end_date ? "" : user.append("end_date", this.user.end_date);
            
            let info = {
              user,
              id: this.yearDetails.id,
              token: this.loginUser.token
            };            
            this.editYear(info);
          }
        }
      });
    },

    showUser(id) {
      let year = {
        id,
        token: this.loginUser.token
      };
      this.getYearDetails(year);
    }
  },

  watch: {
    $route() {
        this.showUser(this.$route.params.id);
    },

    yearDetails() {
      this.user.name = this.yearDetails.name;
      this.user.start_date = this.yearDetails.start_date;
      this.user.end_date = this.yearDetails.end_date;

      this.old_year = this.yearDetails;
    }
  },
  
  created() {
    if (_.endsWith(this.$route.path, "edit")) {
      this.showUser(this.$route.params.id);
    } else {
      this.ShowInAdd = true
    };
  }
};
</script>

<style>
    .main-icon {
        color: #20bbea !important;
    }

    .back-icon {
        color: #ffffff !important;
    }
</style>
