<template>
    <div>
        <b-breadcrumb>
            <li class="breadcrumb-item">
                <router-link to="/"><i class="fa fa-home"></i> Home</router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/years">Years</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Show</li>
        </b-breadcrumb>

        <b-container>
            <b-card-group deck>
                <b-card
                header="Year Details">
                <b-card-text>
                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-user-circle"></i> | Name : {{ yearDetails.name }}
                            <hr />
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-calendar-plus-o"></i> | Start Date : {{ yearDetails.start_date }}
                            <hr />
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-calendar-times-o"></i> | End Date : {{ yearDetails.end_date }}
                            <hr />
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-sort-numeric-asc"></i> | Number Of Student : {{ yearDetails.students_number }}
                            <hr />
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-sort-numeric-asc"></i> | Number Of Teacher : {{ yearDetails.teachers_number }}
                            <hr />
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-percent"></i> | Overall Percentage : {{ yearDetails.overall_percentage }}
                            <hr />
                        </b-col>
                    </b-row>
                </b-card-text>
                <router-link to="/years" class="btn btn-secondary">
                    <i class="back-icon fa fa-reply-all"></i> | Back To List
                </router-link>
                </b-card>
            </b-card-group>
        </b-container>
    </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
    name: "YearShow",
    data() {
        return {
        }
    },

    computed: {
        ...mapState({
            loginUser: state => state.login.loginUser,
            yearDetails: state => state.years.yearDetails
            }),

            isResetted() {
            if (
                this.filters.search_text == "" &&
                this.filters.page == 1 &&
                this.filters.sort == "DESC" &&
                this.filters.type == "" &&
                this.filters.orderBy == "id"
            ) {
                return true;
            } else {
                return false;
            }
        }
    },

    watch: {
        $route() {
            this.show(this.$route.params.id);
        }
    },

    methods: {
        ...mapActions(["getYearDetails"]),

        show(id) {
            let year = {
                id,
                token: this.loginUser.token
            };
            this.getYearDetails(year);
        }
    },
    
    created() {
        this.show(this.$route.params.id);
    }
}
</script>

<style>

</style>
