<template>
    <div>
        <b-breadcrumb>
            <li class="breadcrumb-item">
                <router-link to="/"><i class="fa fa-home"></i> Home</router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/schedules">Schedules</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Add Edit Schedule</li>
        </b-breadcrumb>
        
        <b-container>
            <b-card class="mt-3" header="Add Edit Schedules">
                <b-form @submit.prevent="onSubmit">
                    <b-row>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-bookmark pb-2"></i> | Name : 
                            <b-form-input
                                name="name"
                                type="text"
                                class="form-control"
                                id="name"
                                v-model="user.name"
                                :class="{'input': true, 'is-danger': errors.has('name') }"
                                v-validate="'required'"
                                placeholder="Please Enter Your Name">
                            </b-form-input>
                            <span v-show="errors.has('name')" class="is-danger">{{ errors.first('name') }}</span>
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-calendar pb-2"></i> | Day : 
                            <b-form-select v-model="user.day_id">
                              <option v-for="day in daysTable.days" :key="day.id" :value="day.id">{{ day.name }}</option>
                            </b-form-select>
                        </b-col>
                    </b-row>
                    
                    <b-row class="pt-2">
                      <b-col md="6" sm="12">
                            <i class="main-icon fa fa-calendar-plus-o pb-2"></i> | Start Time : 
                            <b-form-input
                                name="start_time"
                                type="time"
                                class="form-control"
                                id="start_time"
                                v-model="user.start_time"
                                :class="{'input': true, 'is-danger': errors.has('start_time') }"
                                v-validate="'required'"
                                placeholder="Please Enter Your Start Time">
                            </b-form-input>
                            <span v-show="errors.has('start_time')" class="is-danger">{{ errors.first('start_time') }}</span>
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-calendar-minus-o pb-2"></i> | End Time : 
                            <b-form-input
                                name="end_time"
                                type="time"
                                class="form-control"
                                id="end_time"
                                v-model="user.end_time"
                                :class="{'input': true, 'is-danger': errors.has('end_time') }"
                                v-validate="'required'"
                                placeholder="Please Enter Your End Time">
                            </b-form-input>
                            <span v-show="errors.has('end_time')" class="is-danger">{{ errors.first('end_time') }}</span>
                        </b-col>
                    </b-row>

                    <b-row class="pt-2">
                      <b-col md="6" sm="12">
                            <i class="main-icon fa fa-sort-amount-asc pb-2"></i> | Type : 
                            <b-form-input
                                name="type"
                                type="text"
                                class="form-control"
                                id="type"
                                v-model="user.type"
                                :class="{'input': true, 'is-danger': errors.has('type') }"
                                v-validate="'required'"
                                placeholder="Please Enter Your Type">
                            </b-form-input>
                            <span v-show="errors.has('type')" class="is-danger">{{ errors.first('type') }}</span>
                        </b-col>
                        <b-col md="6" sm="12">
                            <i class="main-icon fa fa-stop pb-2"></i> | Color : 
                            <b-form-input
                                name="color"
                                type="color"
                                class="form-control"
                                id="color"
                                v-model="user.color"
                                :class="{'input': true, 'is-danger': errors.has('color') }"
                                v-validate="'required'"
                                placeholder="Please Enter Your Color">
                            </b-form-input>
                            <span v-show="errors.has('color')" class="is-danger">{{ errors.first('color') }}</span>
                        </b-col>
                    </b-row>

                    <br>
                    <b-button type="submit" variant="primary">Save</b-button>
                    <router-link class="btn btn-secondary ml-2" to="/schedules">
                        <i class="back-icon fa fa-reply-all"></i> | Back To List
                    </router-link>
                </b-form>
                
            </b-card>
        </b-container>
    </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
    name:"ScheduleAddEdit",
  data() {
    return {
      user: {
        name: "",
        day_id: "",
        start_time: "",
        end_time: "",
        type: "",
        color: ""
      },

      old_schedule: {},
      ShowInAdd:false,
      confirm: false
    };
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      scheduleDetails: state => state.schedules.scheduleDetails,
      daysTable: state => state.schedules.days
    })
  },

  methods: {
    ...mapActions(["addSchedule","editSchedule","getScheduleDetails","getDays"]),

    onSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          let user = new FormData();

          if (_.endsWith(this.$route.path, "add")) {
            user.append("name", this.user.name);
            user.append("day_id", this.user.day_id);
            user.append("start_time", this.user.start_time);
            user.append("end_time", this.user.end_time);
            user.append("type", this.user.type);
            user.append("color", this.user.color);
            
            let info = {
              user,
              token: this.loginUser.token
            };
            this.addSchedule(info);
          } else {

            this.old_schedule.name == this.user.name ? "" : user.append("name", this.user.name);
            this.old_schedule.day_id == this.user.day_id ? "" : user.append("day_id", this.user.day_id);
            this.old_schedule.start_time == this.user.start_time ? "" : user.append("start_time", this.user.start_time);
            this.old_schedule.end_time == this.user.end_time ? "" : user.append("end_time", this.user.end_time);
            this.old_schedule.type == this.user.type ? "" : user.append("type", this.user.type);
            this.old_schedule.color == this.user.color ? "" : user.append("color", this.user.color);
            
            let info = {
              user,
              id: this.scheduleDetails.id,
              token: this.loginUser.token
            };            
            this.editSchedule(info);
          }
        }
      });
    },

    showUser(id) {
      let schedule = {
        id,
        token: this.loginUser.token
      };
      this.getScheduleDetails(schedule);
    },

    displayDays() {
        let payload={
            token: this.loginUser.token
        }
    this.getDays(payload);
    },
  },

  watch: {
    $route() {
      this.showUser(this.$route.params.id);
    },

    scheduleDetails() {
      this.user.name = this.scheduleDetails.name;
      this.user.day_id = this.scheduleDetails.day.id;
      this.user.start_time = this.scheduleDetails.start_time;
      this.user.end_time = this.scheduleDetails.end_time;
      this.user.type = this.scheduleDetails.type;
      this.user.color = this.scheduleDetails.color;

      this.old_schedule = this.scheduleDetails;
    }
  },
  
  created() {
    if (_.endsWith(this.$route.path, "edit")) {
      this.showUser(this.$route.params.id);
    } else {
      this.ShowInAdd = true
    };

    this.displayDays();
  }
};
</script>

<style>
    .main-icon {
        color: #20bbea !important;
    }

    .back-icon {
        color: #ffffff !important;
    }
</style>
