<template>
  <div>
    <b-breadcrumb>
      <li class="breadcrumb-item">
        <router-link to="/">
          <i class="fa fa-home"></i> Home
        </router-link>
      </li>
      <li class="breadcrumb-item">
        <router-link to="/schedules">Schedules</router-link>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Show</li>
    </b-breadcrumb>

    <b-container>
      <b-card-group deck>
        <b-card header="Schedule Details">
          <b-card-text>
            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-bookmark"></i>
                | Name : {{ scheduleDetails.name }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-calendar"></i>
                | Day : {{ scheduleDetails.day.name }}
                <hr>
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-calendar-plus-o"></i>
                | Start Time : {{ scheduleDetails.start_time }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-calendar-minus-o"></i>
                | End Time : {{ scheduleDetails.end_time }}
                <hr>
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-sort-amount-asc"></i>
                | Type : {{ scheduleDetails.type }}
                <hr>
              </b-col>
              <b-col md="6" sm="12">
                <i class="main-icon fa fa-stop"></i>
                | Color : {{ scheduleDetails.color }}
              </b-col>
            </b-row>
          </b-card-text>
          <router-link to="/schedules" class="btn btn-secondary">
            <i class="back-icon fa fa-reply-all"></i> | Back To List
          </router-link>
        </b-card>
      </b-card-group>
    </b-container>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "ScheduleShow",
  data() {
    return {};
  },

  computed: {
    ...mapState({
      loginUser: state => state.login.loginUser,
      scheduleDetails: state => state.schedules.scheduleDetails,
    })
  },

  watch: {
    $route() {
      this.show(this.$route.params.id);
    }
  },

  methods: {
    ...mapActions(["getScheduleDetails"]),

    show(id) {
      let schedule = {
        id,
        token: this.loginUser.token
      };
      this.getScheduleDetails(schedule);
    }
  },
  
  created() {
    this.show(this.$route.params.id);
  }
};
</script>

<style>
</style>
